

/* ######  Background  ###### */

.bg-transparent {
	background-color: transparent;
  }
  
  .bg-gray-100 {
	background-color:$gray-100;
  }
  
  .bg-gray-200 {
	background-color: $gray-200;
  }
  
  .bg-gray-300 {
	background-color: $gray-300;
  }
  
  .bg-gray-400 {
	background-color: $gray-400;
  }
  
  .bg-gray-500 {
	background-color: $gray-500;
  }
  
  .bg-gray-600 {
	background-color: $gray-600;
  }
  
  .bg-gray-700 {
	background-color: $gray-700;
  }
  
  .bg-gray-800 {
	background-color: $gray-800;
  }
  
  .bg-gray-900 {
	background-color: $gray-900;
  }
  
  .bg-white-1 {
	background-color: $white-1;;
  }
  
  .bg-white-2 {
	background-color: $white-2;
  }
  
  .bg-white-3 {
	background-color: $white-3;
  }
  
  .bg-white-4 {
	background-color: $white-4;
  }
  
  .bg-white-5 {
	background-color: $white-5;
  }
  
  .bg-white-6 {
	background-color: $white-6;
  }
  
  .bg-white-7 {
	background-color: $white-7;
  }
  
  .bg-white-8 {
	background-color: $white-8;
  }
  
  .bg-white-9 {
	background-color: $white-9;
  }
  
  .bg-black-1 {
	background-color: $black-1;
  }
  
  .bg-black-2 {
	background-color: $black-2;
  }
  
  .bg-black-3 {
	background-color: $black-3;
  }
  
  .bg-black-4 {
	background-color: $black-4;
  }
  
  .bg-black-5 {
	background-color: $black-5;
  }
  
  .bg-black-6 {
	background-color: $black-6;
  }
  
  .bg-black-7 {
	background-color: $black-7;
  }
  
  .bg-black-8 {
	background-color: $black-8;
  }
  
  .bg-black-9 {
	background-color: $black-9;
  }
  .bg-black{
	background-color:$black !important;
  }
  .bg-indigo {
	background-color: $primary;
  }
  
  .bg-purple {
	background-color: #6f42c1;
  }
  
  .bg-pink {
	background-color: $pink;
  }
  
  .bg-orange {
	background-color: $orange !important;
  }
  
  .bg-teal {
	background-color: $teal !important;
  box-shadow: 0 7px 30px rgba($teal, 0.25);
  }
  
  .bg-purple-dark {
	background-color: #59339d;
  }
  
  /* ###### 4.8 transparent colors ###### */
  
  .bg-success-transparent {
	background-color: rgba(43, 194, 83, 0.2) !important;
	color:$success !important;
  }
  
  .bg-danger-transparent {
	background-color: rgb(231, 11, 1, 0.2) !important;
	color:$danger;
  }
  
  .bg-primary-transparent {
	background-color:$primary-02 !important;
  }

 .bg-secondary-transparent {
  	background-color: rgba(246, 107, 78, 0.2) !important;
 	 color:$secondary;
  }
  
  
  .bg-pink-transparent {
	background-color: #fee5f1 !important;
  }
  
  .bg-purple-transparent {
	background-color: #e1defe !important;
  }
  
  .bg-teal-transparent {
	background-color: #d2f5f5 !important;
  }
  
  .bg-info-transparent {
	background-color: rgba(34, 192, 200,  0.2) !important;
	color:$info;
  }
  
  .bg-orange-transparent {
	background-color: rgba(253, 126, 20, 0.2);
  }

  .bg-warning-transparent {
    background-color: rgba(253, 126, 20, 0.2);
    color:$warning;
  }
  
  /* ###### 4.8 button-light ###### */
  
  .bg-primary {
	background-color: $primary !important;
  }
  
  a.bg-primary {
	&:hover, &:focus {
	  background-color: #0040ff !important;
	}
  }
  
  button.bg-primary {
	&:hover, &:focus {
	  background-color: #0040ff !important;
	}
  }
  
  .bg-secondary {
	background: $secondary !important;
  }
  
  a.bg-secondary {
	&:hover, &:focus {
	  background-color: #5f6d88 !important;
	}
  }
  
  button.bg-secondary {
	&:hover, &:focus {
	  background-color: #5f6d88 !important;
	}
  }
  
  .bg-success {
	background: $success !important;
  }
  
  a.bg-success {
	&:hover, &:focus {
	  background-color: #2a7d01 !important;
	}
  }
  
  button.bg-success {
	&:hover, &:focus {
	  background-color: #2a7d01 !important;
	}
  }
  
  .bg-info {
	background: $info !important;
  }
  
  a.bg-info {
	&:hover, &:focus {
	  background-color: #117a8b !important;
	}
  }
  
  button.bg-info {
	&:hover, &:focus {
	  background-color: #117a8b !important;
	}
  }
  
  .bg-warning {
	background: #ffc107 !important;
  }
  
  a.bg-warning {
	&:hover, &:focus {
	  background-color: #d39e00 !important;
	}
  }
  
  button.bg-warning {
	&:hover, &:focus {
	  background-color: #d39e00 !important;
	}
  }
  
  .bg-danger {
	background: $danger !important;
  }
  
  a.bg-danger {
	&:hover, &:focus {
	  background-color: #bd2130 !important;
	}
  }
  
  button.bg-danger {
	&:hover, &:focus {
	  background-color: #bd2130 !important;
	}
  }
  
  .bg-purple {
	background-color: $purple !important;
  }
  
  a.bg-purple {
	&:hover, &:focus {
	  background-color: #5930a2 !important;
	}
  }
  
  button.bg-purple {
	&:hover, &:focus {
	  background-color: #5930a2 !important;
	}
  }
  
  .bg-light {
	background-color:$gray-100 !important;
  }
  
  a.bg-light {
	&:hover, &:focus {
	  background-color: #d5d9e4 !important;
	}
  }
  
  button.bg-light {
	&:hover, &:focus {
	  background-color: #d5d9e4 !important;
	}
  }
  
  .bg-dark {
	background-color: $gray-900 !important;
  }
  
  a.bg-dark {
	&:hover, &:focus {
	  background-color: #283143 !important;
	}
  }
  
  button.bg-dark {
	&:hover, &:focus {
	  background-color: #283143 !important;
	}
  }
  
  .bg-white {
	background-color: $white !important;
  }
  
  .bg-transparent {
	background-color: transparent !important;
  }
  
  /*-----Gradient-badges-----*/
  
  .bg-primary-gradient {
	background: $primary-gradient !important;
  }
  
  a.bg-primary-gradient {
	&:hover, &:focus {
	  background: $primary-gradient !important;
	}
  }
  
  button.bg-primary-gradient {
	&:hover, &:focus {
	  background: $primary-gradient !important;
	}
  }
  
  .bg-secondary-gradient {
	background: $secondary-gradient !important;
  }
  
  a.bg-secondary-gradient {
	&:hover, &:focus {
	  background: $secondary-gradient !important;
	}
  }
  
  button.bg-secondary-gradient {
	&:hover, &:focus {
	  background: $secondary-gradient !important;
	}
  }
  
  .bg-success-gradient {
	background: $success-gradient !important;
  }
  
  a.bg-success-gradient {
	&:hover, &:focus {
	  background: $success-gradient !important;
	}
  }
  
  button.bg-success-gradient {
	&:hover, &:focus {
	  background: $success-gradient !important;
	}
  }
  
  .bg-info-gradient {
	background: $info-gradient !important;
  }
  
  a.bg-info-gradient {
	&:hover, &:focus {
	  background: $info-gradient !important;
	}
  }
  
  button.bg-info-gradient {
	&:hover, &:focus {
	  background: $info-gradient !important;
	}
  }
  
  .bg-warning-gradient {
	background: $warning-gradient!important;
  }
  
  a.bg-warning-gradient {
	&:hover, &:focus {
	  background: $warning-gradient!important;
	}
  }
  
  button.bg-warning-gradient {
	&:hover, &:focus {
	  background: $warning-gradient;
	}
  }
  
  .bg-danger-gradient {
	background:$danger-gradient !important;
  }
  
  a.bg-danger-gradient {
	&:hover, &:focus {
	  background:$danger-gradient;
	}
  }
  
  button.bg-danger-gradient {
	&:hover, &:focus {
	  background:$danger-gradient;
	}
  }
  
  .bg-purple-gradient {
	background: $purple-gradient;
  }
  
  a.bg-purple-gradient {
	&:hover, &:focus {
	  background: $purple-gradient;
	}
  }
  
  button.bg-purple-gradient {
	&:hover, &:focus {
	  background: $purple-gradient;
	}
  }
  
.bg-flat-primary{
  background-color:$primary;
}
.bg-flat-secondary{
  background-color:$secondary;
}
.bg-flat-warning{
  background-color:$warning;
}
.bg-flat-success{
  background-color:$success;
}
.bg-flat-info{
  background-color:$info;
}
.bg-flat-danger{
  background-color:$danger;
}

.bg-primary {
	color: $white;
	background-color: $primary;
	box-shadow: $primary-shadow !important;
  }
  
  a.bg-primary {
	&:hover {
	  color: $white;
	  background-color: #0040ff;
	}
  
	&:focus {
	  color: $white;
	  background-color: #0040ff;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(51, 102, 255, 0.1);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(51, 102, 255, 0.1);
	}
  }
  
  .bg-secondary {
	color: $white;
	background-color: $secondary;
	box-shadow: 0 7px 30px rgba(121, 135, 161, 0.1);
  }
  
  a.bg-secondary {
	&:hover {
	  color: $white;
	  background-color: #5f6d88;
	}
  
	&:focus {
	  color: $white;
	  background-color: #5f6d88;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(121, 135, 161, 0.1);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(121, 135, 161, 0.1);
	}
  }
  
  .bg-success {
	color: $white;
	background: $success;
	box-shadow: $success-shadow;
  }
  
  a.bg-success {
	&:hover {
	  color: $white;
	  background-color: #2a7d01;
	}
  
	&:focus {
	  color: $white;
	  background-color: #2a7d01;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(59, 176, 1, 0.3);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(59, 176, 1, 0.3);
	}
  }
  
  .bg-info {
	color: $white;
	background: $info;
	box-shadow: 0 7px 30px rgba(23, 162, 184, 0.1);
  }
  
  a.bg-info {
	&:hover {
	  color: $white;
	  background-color: #117a8b;
	  box-shadow: 0 7px 30px rgba(23, 162, 184, 0.1);
	}
  
	&:focus {
	  color: $white;
	  background-color: #117a8b;
	  box-shadow: 0 7px 30px rgba(23, 162, 184, 0.1);
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.3);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.1);
	}
  }
  
  .bg-warning {
	color: $white!important;
	background-color: #ffc107;
	box-shadow: $warning-shadow;
  }
  
  a.bg-warning {
	&:hover, &:focus {
	  color: $gray-900;
	  background-color: #d39e00;
	}
  }
  
  .bg-purple {
	color: $white;
	background-color: 7571f9;
	box-shadow: 0 7px 30px rgba(103, 58, 183, 0.3);
  }
  
  a.bg-purple {
	&:hover {
	  color: $white;
	  background-color: #6536bb;
	}
  
	&:focus {
	  color: $white;
	  background-color: #6536bb;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(101, 54, 187, 0.3);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(101, 54, 187, 0.3);
	}
  }
  
  .bg-teal {
	color: $white;
	background-color: $teal;
  }
  
  a {
	&.bg-teal {
	  &:hover, &:focus {
		color: $gray-900;
		background-color: $teal;
	  }
	}
  
	&.bg-warning {
	  &:focus, &.focus {
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.3);
	  }
	}
  }
  
  .bg-danger {
	color: $white !important;
	background-color: $danger;
	box-shadow: 0 7px 30px rgba(250, 106, 130, 0.3);
  }
  
  a.bg-danger {
	&:hover {
	  color: $white;
	  background-color: #bd2130;
	}
  
	&:focus {
	  color: $white;
	  background-color: #bd2130;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.3);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.3);
	}
  }
  
  .bg-pink {
	color: $white;
	background-color: $pink !important;
	box-shadow: 0 7px 30px rgba(241, 12, 123, 0.25);
  }
  
  a.bg-pink {
	&:hover {
	  color: $white;
	  background-color: #e20b73;
	}
  
	&:focus {
	  color: $white;
	  background-color: #e20b73;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(241, 0, 117, 0.3);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(241, 0, 117, 0.3);
	}
  }
  
  .bg-purple {
	color: $white;
	background-color: $purple;
  }
  
  a.bg-purple {
	&:hover {
	  color: $white;
	  background-color: #582ea2;
	}
  
	&:focus {
	  color: $white;
	  background-color: #582ea2;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(103, 58, 183, 0.3);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(103, 58, 183, 0.3);
	}
  }
  
  .bg-light {
	color: $gray-900;
	background-color:$gray-100;
  }
  
  a.bg-light {
	&:hover {
	  color: $gray-900;
	  background-color: #d5d9e4;
	}
  
	&:focus {
	  color: $gray-900;
	  background-color: #d5d9e4;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(244, 245, 248, 0.3);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(244, 245, 248, 0.3);
	}
  }
  
  .bg-dark {
	color: $white;
	background-color: $gray-800;
  }
  
  a.bg-dark {
	&:hover {
	  color: $white;
	  background-color: #283143;
	}
  
	&:focus {
	  color: $white;
	  background-color: #283143;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(59, 72, 99, 0.3);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(59, 72, 99, 0.3);
	}
  }
  
  /*-----Gradient-badges-----*/
  
  .bg-primary-gradient {
	color: $white;
	background: $primary-gradient;
	box-shadow: $primary-shadow;
  }
  
  a.bg-primary-gradient {
	&:hover {
	  color: $white;
	  background: $primary-gradient;
	}
  
	&:focus {
	  color: $white;
	  background: $primary-gradient;
	  outline: 0;
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(51, 102, 255, 0.5);
	}
  }
  
  .bg-secondary-gradient {
	color: $white;
	background: $secondary-gradient;
	box-shadow: 0 7px 30px rgba(121, 135, 161, 0.5);
  }
  
  a.bg-secondary-gradient {
	&:hover {
	  color: $white;
	  background: $secondary-gradient;
	}
  
	&:focus {
	  color: $white;
	  background: $secondary-gradient;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(121, 135, 161, 0.5);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(121, 135, 161, 0.5);
	}
  }
  
  .bg-success-gradient {
	color: $white;
	background: $success-gradient;
	box-shadow: $success-shadow;
  }
  
  a.bg-success-gradient {
	&:hover {
	  color: $white;
	  background: $success-gradient;
	}
  
	&:focus {
	  color: $white;
	  background: $success-gradient;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(59, 176, 1, 0.5);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(59, 176, 1, 0.5);
	}
  }
  
  .bg-info-gradient {
	color: $white;
	background: $info-gradient;
	box-shadow: 0 7px 30px rgba(23, 162, 184, 0.3);
  }
  
  a.bg-info-gradient {
	&:hover {
	  color: $white;
	  background: $info-gradient;
	  box-shadow: 0 7px 30px rgba(23, 162, 184, 0.3);
	}
  
	&:focus {
	  color: $white;
	  background: $info-gradient;
	  box-shadow: 0 7px 30px rgba(23, 162, 184, 0.3);
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
	}
  }
  
  .bg-warning-gradient {
	color: $gray-900;
	background: $warning-gradient;
	box-shadow: $warning-shadow;
  }
  
  a.bg-warning-gradient {
	&:hover, &:focus {
	  color: $gray-900;
	  background: $warning-gradient
	}
  }
  
  .bg-teal-gradient {
	color: $white;
	background: linear-gradient(45deg, $teal 0%, #6aefef 100%);
	box-shadow: 0 7px 30px rgba(18, 210, 210, 0.3);
  }
  
  a {
	&.bg-teal-gradient {
	  &:hover, &:focus {
		color: $gray-900;
		background: linear-gradient(45deg, $teal 0%, #6aefef 100%);
	  }
	}
  
	&.bg-warning-gradient {
	  &:focus, &.focus {
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
	  }
	}
  }
  
  .bg-danger-gradient {
	color: $white !important;
	background:$danger-gradient;
	box-shadow: $danger-shadow;
  }
  
  a.bg-danger-gradient {
	&:hover {
	  color: $white;
	  background:$danger-gradient
	}
  
	&:focus {
	  color: $white;
	  background:$danger-gradient;
	    outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
	}
  }
  
  .bg-pink-gradient {
	color: $white;
	background: linear-gradient(45deg, $pink 0%, #fd5d93 74%);
	box-shadow: 0 7px 30px rgba(241, 12, 123, 0.25);
  }
  
  a.bg-pink-gradient {
	&:hover {
	  color: $white;
	  background: linear-gradient(45deg, $pink 0%, #fd5d93 74%);
	}
  
	&:focus {
	  color: $white;
	  background: linear-gradient(45deg, $pink 0%, #fd5d93 74%);
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(241, 0, 117, 0.5);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(241, 0, 117, 0.5);
	}
  }
  
  .bg-purple-gradient {
	color: $white;
	background: $purple-gradient
  }
  
  a.bg-purple-gradient {
	&:hover {
	  color: $white;
	  background: $purple-gradient
	}
  
	&:focus {
	  color: $white;
	  background: $purple-gradient;
	
	  box-shadow: 0 0 0 0.2rem rgba(103, 58, 183, 0.5);
	}
  
	&.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(103, 58, 183, 0.5);
	}
  }
  
/* ######  Background End ###### */