<app-page-header
  [title]="'Blog'"
  [items]="['Blog']"
  [active_item]="'Blog'"
></app-page-header>

<!-- row -->
<div class="row">
  <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12">
    <div class="card custom-card card-img-top-1 border-0">
      <a routerLink="/advanced-ui/blog-pages/blog-details"
        ><img
          class="card-img-top w-100 ht-350 border-0"
          src="./assets/img/photos/29.jpg"
          alt=""
      /></a>
      <div class="card-body">
        <a href="javascript:void(0);" class="mt-4"
          ><h4 class="font-weight-semibold text-dark">
            Best Place To visit For a Holiday idea of denouncing pleasure?
          </h4></a
        >
        <p class="mb-0 mt-3 text-muted">
          I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth,I will give you a complete account of the
          system, and expound the actual teachings of the great explorer of the
          truth, the master-builder of human happiness. No one rejects,
          dislikes, or avoids pleasure itself, because it is pleasure.
        </p>
      </div>
      <div class="card-footer">
        <div class="item7-card-desc d-sm-flex mt-0">
          <a href="javascript:void(0);" class="d-flex align-items-center"
            ><span class="fe fe-user tx-inverse me-2 tx-17"></span>
            <div class="mt-1 font-weight-semibold tx-inverse">
              Anna Ogden
            </div></a
          >
          <div class="d-flex ms-auto">
            <a href="javascript:void(0);" class="d-flex align-items-center me-3"
              ><span class="fe fe-calendar text-muted me-2 tx-14"></span>
              <div class="mt-0 mt-0 text-muted tx-12">Jan-18-2020</div></a
            >
            <a class="me-0 d-flex align-items-center" href="javascript:void(0);"
              ><span class="fe fe-message-square text-muted me-2 tx-14"></span>
              <div class="mt-0 mt-0 text-muted tx-12">12 Comments</div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
    <div class="card custom-card card-img-top-1 border-0">
      <a routerLink="/advanced-ui/blog-pages/blog-details"
        ><img
          class="card-img-top w-100 w-100 border-0"
          src="./assets/img/photos/11.jpg"
          alt=""
      /></a>
      <div class="card-body pb-0">
        <a routerLink="/advanced-ui/blog-pages/blog-details"
          ><h4 class="card-title">
            10 Ways To Immediately Start Selling Products !
          </h4></a
        >
        <p class="my-2 text-muted">
          Those who do not know how pursues or desires. To take a trivial
          example pain was born and I will give you a complete account of the
          system, and expound the actual teachings of the great explorer of the
          truth, the master-buil expound the actual teachings of the great
          explorer of the truth, the master-buil .the great explorer of the
          truth, the master-buil
        </p>
      </div>
      <div
        class="item7-card-desc d-flex p-3 pt-0 align-items-center justify-content-center border-top"
      >
        <div class="main-img-user online">
          <img alt="avatar" src="./assets/img/users/9.jpg" />
        </div>
        <div class="main-contact-body">
          <h6 class="mt-1">Jiggel mossin</h6>
        </div>
        <div class="ms-auto">
          <a class="me-0 d-flex align-items-center" href="javascript:void(0);"
            ><span class="phone text-muted d-flex tx-12"
              ><span class="fe fe-calendar text-muted me-2 tx-14"></span>Aug
              01,2021</span
            ></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
    <div class="row row-sm">
      <div class="col-xl-12">
        <div class="card card-aside custom-card">
          <div class="card-body">
            <h4 class="tx-20 mb-2">Certain claims</h4>
            <div class="">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </div>
          </div>
          <div class="card-footer d-flex align-items-center mt-auto">
            <div class="d-none d-sm-block">
              <a href="profile.html" class="text-primary tx-semibold"
                >Harvey Mattos</a
              >
              <small class="d-block text-muted">15 mintues ago</small>
            </div>
            <div class="ms-auto text-muted">
              <a
                placement="top"
                ngbTooltip="Like"
                class="bg-light contact-icon text-primary me-2"
                ><i class="fe fe-thumbs-up"></i
              ></a>
              <a
                placement="top"
                ngbTooltip="Dislike"
                class="bg-light contact-icon text-primary"
                ><i class="fe fe-thumbs-down"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card card-aside custom-card">
          <div class="card-body">
            <h4 class="tx-20 mb-2">Certain claims</h4>
            <div class="">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </div>
          </div>
          <div class="card-footer d-flex align-items-center mt-auto">
            <div class="d-none d-sm-block">
              <a href="profile.html" class="text-primary tx-semibold"
                >Harvey Mattos</a
              >
              <small class="d-block text-muted">15 mintues ago</small>
            </div>
            <div class="ms-auto text-muted">
              <a
                class="bg-light contact-icon text-primary me-2"
                placement="top"
                ngbTooltip="Like"
                ><i class="fe fe-thumbs-up"></i
              ></a>
              <a
                class="bg-light contact-icon text-primary"
                placement="top"
                ngbTooltip="Dislike"
                ><i class="fe fe-thumbs-down"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card card-aside custom-card">
          <div class="card-body">
            <h4 class="tx-20 mb-2">Certain claims</h4>
            <div class="">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </div>
          </div>
          <div class="card-footer d-flex align-items-center mt-auto">
            <div class="d-none d-sm-block">
              <a href="profile.html" class="text-primary tx-semibold"
                >Harvey Mattos</a
              >
              <small class="d-block text-muted">15 mintues ago</small>
            </div>
            <div class="ms-auto text-muted">
              <a
                href="javascript:;"
                class="bg-light contact-icon text-primary me-2"
                placement="top"
                ngbTooltip="Like"
                ><i class="fe fe-thumbs-up"></i
              ></a>
              <a
                href="javascript:;"
                class="bg-light contact-icon text-primary"
                placement="top"
                ngbTooltip="Dislike"
                ><i class="fe fe-thumbs-down"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /row -->

<!-- row -->
<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img
            src="./assets/img/photos/12.jpg"
            class="card-img-start"
            alt="img"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body pb-0">
            <p class="card-title">Card Image On Left</p>
            <p class="mb-0">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="mb-0">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
          <div class="card-footer border-top-0">
            <div class="d-flex align-items-center pt-3 mt-auto">
              <div class="main-img-user avatar-sm me-3">
                <img
                  src="./assets/img/users/1.jpg"
                  class="w-10 rounded-circle"
                  alt="avatar-img"
                />
              </div>
              <div>
                <a href="profile.html" class="text-primary tx-semibold"
                  >Alica Nestle</a
                >
                <small class="d-block text-muted">15 mintues ago</small>
              </div>
              <div class="ms-auto text-muted">
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3 text-primary"
                  ><i class="far fa-heart me-1"></i
                ></a>
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3 text-primary"
                  ><i class="far fa-thumbs-up"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body pb-0">
            <p class="card-title">Card Image On Left</p>
            <p class="mb-0">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="mb-0">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
          <div class="card-footer border-top-0">
            <div class="d-flex align-items-center pt-3 mt-auto">
              <div class="main-img-user avatar-sm me-3">
                <img
                  src="./assets/img/users/1.jpg"
                  class="w-10 rounded-circle"
                  alt="avatar-img"
                />
              </div>
              <div>
                <a href="profile.html" class="text-primary tx-semibold"
                  >Alica Nestle</a
                >
                <small class="d-block text-muted">15 mintues ago</small>
              </div>
              <div class="ms-auto text-muted">
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3 text-primary"
                  ><i class="far fa-heart me-1"></i
                ></a>
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3 text-primary"
                  ><i class="far fa-thumbs-up"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="./assets/img/photos/10.jpg"
            class="card-img-end"
            alt="img"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card custom-card card-img-top-1">
      <a routerLink="/advanced-ui/blog-pages/blog-details"
        ><img
          class="card-img-top w-100 w-100"
          src="./assets/img/photos/2.jpg"
          alt=""
      /></a>
      <div class="card-body pb-0">
        <a routerLink="/advanced-ui/blog-pages/blog-details"
          ><h4 class="card-title">
            How To Become Better With Building In 1 Month !
          </h4></a
        >
        <p class="card-text text-muted mb-2">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div
        class="item7-card-desc d-flex p-3 pt-0 align-items-center justify-content-center border-top"
      >
        <div class="main-img-user online">
          <img alt="avatar" src="./assets/img/users/2.jpg" />
        </div>
        <div class="main-contact-body">
          <h6 class="mt-1">Abigail John</h6>
        </div>
        <div class="ms-auto">
          <a class="me-0 d-flex align-items-center" href="javascript:void(0);"
            ><span class="phone d-flex text-muted tx-12"
              ><span class="fe fe-calendar text-muted me-2 tx-14"></span>Aug
              24,2021</span
            ></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card custom-card card-img-top-1">
      <a routerLink="/advanced-ui/blog-pages/blog-details"
        ><img
          class="card-img-top w-100 w-100"
          src="./assets/img/photos/1.jpg"
          alt=""
      /></a>
      <div class="card-body pb-0">
        <a routerLink="/advanced-ui/blog-pages/blog-details"
          ><h4 class="card-title">
            10 Ways To Immediately Start Selling Products !
          </h4></a
        >
        <p class="card-text mb-2 text-muted">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div
        class="item7-card-desc d-flex p-3 pt-0 align-items-center justify-content-center border-top"
      >
        <div class="main-img-user online">
          <img alt="avatar" src="./assets/img/users/9.jpg" />
        </div>
        <div class="main-contact-body">
          <h6 class="mt-1">Jiggel mossin</h6>
        </div>
        <div class="ms-auto">
          <a class="me-0 d-flex align-items-center" href="javascript:void(0);"
            ><span class="phone d-flex text-muted tx-12"
              ><span class="fe fe-calendar text-muted me-2 tx-14"></span>Aug
              01,2021</span
            ></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card custom-card card-img-top-1">
      <a routerLink="/advanced-ui/blog-pages/blog-details"
        ><img
          class="card-img-top w-100 w-100"
          src="./assets/img/photos/9.jpg"
          alt=""
      /></a>
      <div class="card-body pb-0">
        <a routerLink="/advanced-ui/blog-pages/blog-details"
          ><h4 class="card-title">
            3 Easy Ways To Make Your mobile Faster & Even !
          </h4></a
        >
        <p class="card-text mb-2 text-muted">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div
        class="item7-card-desc d-flex p-3 pt-0 align-items-center justify-content-center border-top"
      >
        <div class="main-img-user online">
          <img alt="avatar" src="./assets/img/users/7.jpg" />
        </div>
        <div class="main-contact-body">
          <h6 class="mt-1">Raven Chanan</h6>
        </div>
        <div class="ms-auto">
          <a class="me-0 d-flex" href="javascript:void(0);"
            ><span class="phone d-flex text-muted tx-12"
              ><span class="fe fe-calendar text-muted me-2 tx-14"></span>Feb
              19,2021</span
            ></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card overflow-hidden">
      <div class="card-header pb-1">
        <h3 class="card-title mb-2">Blog AUthors</h3>
      </div>
      <div class="card-body p-0 customers mt-1">
        <div class="list-group list-lg-group list-group-flush">
          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item list-group-item-action">
              <div class="media mt-0">
                <img
                  class="avatar-lg rounded-circle me-3 my-auto"
                  src="./assets/img/users/3.jpg"
                  alt="Image description"
                />
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-0">
                      <h5 class="mb-1 tx-13 font-weight-sembold text-dark">
                        Samantha Melon
                      </h5>
                      <p class="mb-0 tx-13 text-muted">User ID: #1234</p>
                    </div>
                    <span class="ms-auto wd-45p fs-16">
                      <span id="spark1" class="wd-100p"></span>
                      <span class="float-end badge">
                        <span
                          class="op-7 text-success tx-11 font-weight-semibold"
                          >8 hrs ago
                        </span>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item list-group-item-action">
              <div class="media mt-0">
                <img
                  class="avatar-lg rounded-circle me-3 my-auto"
                  src="./assets/img/users/11.jpg"
                  alt="Image description"
                />
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-1">
                      <h5 class="mb-1 tx-13 font-weight-sembold text-dark">
                        Allie Grater
                      </h5>
                      <p class="mb-0 tx-13 text-muted">User ID: #1234</p>
                    </div>
                    <span class="ms-auto wd-45p fs-16">
                      <span id="spark2" class="wd-100p"></span>
                      <span class="float-end badge">
                        <span
                          class="op-7 text-danger tx-11 font-weight-semibold"
                          >12 hrs ago</span
                        >
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item list-group-item-action">
              <div class="media mt-0">
                <img
                  class="avatar-lg rounded-circle me-3 my-auto"
                  src="./assets/img/users/17.jpg"
                  alt="Image description"
                />
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-1">
                      <h5 class="mb-1 tx-13 font-weight-sembold text-dark">
                        Gabe Lackmen
                      </h5>
                      <p class="mb-0 tx-13 text-muted">User ID: #1234</p>
                    </div>
                    <span class="ms-auto wd-45p fs-16">
                      <span id="spark3" class="wd-100p"></span>
                      <span class="float-end badge">
                        <span
                          class="op-7 text-danger tx-11 font-weight-semibold"
                          >1 hr ago</span
                        >
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item list-group-item-action">
              <div class="media mt-0">
                <img
                  class="avatar-lg rounded-circle me-3 my-auto"
                  src="./assets/img/users/15.jpg"
                  alt="Image description"
                />
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-1">
                      <h5 class="mb-1 tx-13 font-weight-sembold text-dark">
                        Manuel Labor
                      </h5>
                      <p class="mb-0 tx-13 text-muted">User ID: #1234</p>
                    </div>
                    <span class="ms-auto wd-45p fs-16">
                      <span id="spark6" class="wd-100p"></span>
                      <span class="float-end badge">
                        <span
                          class="op-7 text-success tx-11 font-weight-semibold"
                          >3 days ago</span
                        >
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item list-group-item-action">
              <div class="media mt-0">
                <img
                  class="avatar-lg rounded-circle me-3 my-auto"
                  src="./assets/img/users/13.jpg"
                  alt="Image description"
                />
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-1">
                      <h5 class="mb-1 tx-13 font-weight-sembold text-dark">
                        Makie Jacks
                      </h5>
                      <p class="mb-0 tx-13 text-muted">User ID: #1234</p>
                    </div>
                    <span class="ms-auto wd-45p fs-16">
                      <span id="spark4" class="wd-100p"></span>
                      <span class="float-end badge">
                        <span
                          class="op-7 text-danger tx-11 font-weight-semibold"
                          >22 hrs ago</span
                        >
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="javascript:void(0);" class="border-0">
            <div class="list-group-item list-group-item-action">
              <div class="media mt-0">
                <img
                  class="avatar-lg rounded-circle me-3 my-auto"
                  src="./assets/img/users/14.jpg"
                  alt="Image description"
                />
                <div class="media-body">
                  <div class="d-flex align-items-center">
                    <div class="mt-1">
                      <h5 class="mb-1 tx-13 font-weight-sembold text-dark">
                        Brakoe Millie
                      </h5>
                      <p class="mb-0 tx-13 text-muted">User ID: #1234</p>
                    </div>
                    <span class="ms-auto wd-45p fs-16">
                      <span id="spark5" class="wd-100p"></span>
                      <span class="float-end badge">
                        <span
                          class="op-7 text-danger tx-11 font-weight-semibold"
                          >1 day ago</span
                        >
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /row -->
<ngb-pagination [collectionSize]="40" [(page)]="page" aria-label="Default pagination">
												</ngb-pagination>
