
@import "src/assets/scss/variables.scss";


::ng-deep {
    .accordion-button.collapsed .fa-minus-circle:before {
        content: "\f055" !important;
    }

    .accordion-button {
        outline: none !important;
    }

    .bg-gradient-primary:before {
        content: "\e994";
        position: absolute;
        font-family: "feather";
        right: 10px;
        top: -4px;
        font-size: 20px;
        transition: all 0.5s;
        transform: scale(1);
    }

    .bg-gradient-primary.collapsed:before {
        content: "\e9af";
        position: absolute;
        font-family: "feather";
        right: 10px;
        top: -4px;
        font-size: 20px;
        transition: all 0.5s;
        transform: scale(1);
    }

    .panel-title1 a {
        padding: 0 !important;
    }

    .acc-card.card.mb-2 .accordion-button:not(.collapsed) {
        background-color: var(--primary-bg-color);
        color: #fff;
        width: 100%;
        text-align: left;
        border: 1px solid #ededf5;
    }

    .acc-card.card.mb-2 .accordion-button.collapsed {
        color: #fff;
        width: 100%;
        text-align: left;
        border: 1px solid #ededf5;
    }

    .accordion-button.collapsed:hover {
        background-color: var(--primary-bg-color);
    }

    .panel-heading1 .accordion-button:not(.collapsed) {
        background-color: var(--primary-bg-color);
        color: #fff;
        width: 100%;
        text-align: left;
        border: 1px solid #ededf5;
    }

    .panel-heading1 .accordion-button.collapsed {
        background-color: var(--primary-bg-color);
        color: #fff;
        width: 100%;
        text-align: left;
        border: 1px solid #ededf5;
    }
        .accordion-item{
            border: 1px !important;
        }

    .dark-theme {
        .accordion-button::after {
            filter: invert(1);
        }

                .accordion .card-header a {
                    border-color: rgba(222, 228, 236, 0.07);
                }

        .acc-card.mb-2 .accordion-button:not(.collapsed) {
            background-color: var(--primary-bg-color);
            color: #fff;
            width: 100%;
            text-align: left;
            border: 1px solid #fff;
        }

        .acc-card.mb-2 .accordion-button.collapsed {
            color: #fff;
            width: 100%;
            text-align: left;
            border: 1px solid #fff;
            background-color: #fff !important;
        }

        .accordion-button.collapsed:hover {
            background-color: var(--primary-bg-color);
        }

        .panel-heading1 .accordion-button:not(.collapsed) {
            background-color: var(--primary-bg-color);
            color: #fff;
            width: 100%;
            text-align: left;
            border: 1px solid #fff;
        }

        .panel-heading1 .accordion-button.collapsed {
            background-color: var(--primary-bg-color);
            color: #fff;
            width: 100%;
            text-align: left;
            border: 1px solid #fff;
        }

        .accordion-body {
            background-color: $dark-theme !important;
        }

        .accordion-item {
            background-color: $dark-theme;
            border: 1px solid rgb(64 67 83);
        }

   

    .transparent-theme {
        .accordion-button::after {
            filter: invert(1);
        }

        .acc-card.mb-2 .accordion-button:not(.collapsed) {
            background-color: var(--primary-bg-color);
            color: #fff;
            width: 100%;
            text-align: left;
            border: 1px solid #623aa2;
        }

        .acc-card.mb-2 .accordion-button.collapsed {
            color: #fff;
            width: 100%;
            text-align: left;
            border: 1px solid #623aa2;
            background-color: var(--dark-body) !important;
        }

        .accordion-button.collapsed:hover {
            background-color: var(--primary-bg-color);
        }

        .panel-heading1 .accordion-button:not(.collapsed) {
            background-color: var(--primary-bg-color);
            color: #fff;
            width: 100%;
            text-align: left;
            border: 1px solid #623aa2;
        }

        .panel-heading1 .accordion-button.collapsed {
            background-color: var(--primary-bg-color);
            color: #fff;
            width: 100%;
            text-align: left;
            border: 1px solid #623aa2;
        }

        .accordion-body {
            background-color:var(--dark-body) !important;
        }

        .accordion-item {
            background-color:var(--dark-body) !important;
            border: 1px solid #623aa2;
        }

     }
    }

    .rtl {

        .acc-card.card.mb-2 .accordion-button,
        .panel-heading1 .accordion-button {
            text-align: right !important;
        }

        .accordion i {
            float: left !important;
        }

        .bg-gradient-primary:before {
            right: inherit !important;
            left: 10px;
        }
    }
}