<app-page-header
  [title]="'Listgroup'"
  [items]="['Elements']"
  [active_item]="'Listgroup'"
></app-page-header>
<!-- row -->
<div class="row row-sm">
  <div class="col-lg-6 col-md-12">
    <div class="card mg-b-20" id="list">
      <div class="card-header">
        <h3 class="card-title">Basic Example</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mg-b-20" id="list1">
      <div class="card-header">
        <h3 class="card-title">Active Item</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item active">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mg-b-20" id="list3">
      <div class="card-header">
        <h3 class="card-title">Disabled Item</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item disabled">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mg-b-20" id="list4">
      <div class="card-header">
        <h3 class="card-title">Link and Buttons</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="list-group">
              <a
                class="list-group-item list-group-item-action active"
                href="javascript:void(0);"
                >Cras justo odio</a
              >
              <a
                class="list-group-item list-group-item-action"
                href="javascript:void(0);"
                >Dapibus ac facilisis in</a
              >
              <a
                class="list-group-item list-group-item-action"
                href="javascript:void(0);"
                >Morbi leo risus</a
              >
              <a
                class="list-group-item list-group-item-action"
                href="javascript:void(0);"
                >Porta ac consectetur ac</a
              >
              <a
                class="list-group-item list-group-item-action"
                href="javascript:void(0);"
                >Vestibulum at eros</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mg-b-20" id="list5">
      <div class="card-header">
        <h3 class="card-title">Contextual Classes With List Group</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <ul class="list-group">
              <li class="list-group-item">
                Et harum quidem rerum facilis est et
              </li>
              <li class="list-group-item list-group-item-success">
                Et harum quidem rerum facilis est et
              </li>
              <li class="list-group-item list-group-item-info">
                Cras sit amet nibh libero
              </li>
              <li class="list-group-item list-group-item-warning">
                voluptatibus maiores alias consequatur aut
              </li>
              <li class="list-group-item list-group-item-danger">
                The wise man therefore always holds in these
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mg-b-20" id="list6">
      <div class="card-header">
        <h3 class="card-title">List With Icons</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fas fa-cog text-primary me-2" aria-hidden="true"></i> Et
                harum quidem rerum facilis est et
              </li>
              <li class="list-group-item">
                <i class="fas fa-cog text-danger me-2" aria-hidden="true"></i> Et
                harum quidem rerum facilis est et
              </li>
              <li class="list-group-item">
                <i class="fas fa-cog text-success me-2" aria-hidden="true"></i> Cras
                sit amet nibh libero
              </li>
              <li class="list-group-item">
                <i class="fas fa-cog text-warning me-2" aria-hidden="true"></i>
                voluptatibus maiores alias consequatur aut
              </li>
              <li class="list-group-item">
                <i class="fas fa-cog text-info me-2" aria-hidden="true"></i> The wise
                man therefore always holds in these
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mg-b-20" id="list7">
      <div class="card-header">
        <h3 class="card-title">Listgroup With Badges</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <ul class="list-group">
              <li class="list-group-item justify-content-between">
                Nam libero tempore, cum soluta
                <span class="badgetext badge bg-primary bg-pill">14</span>
              </li>
              <li class="list-group-item justify-content-between">
                Et harum quidem rerum facilis est et
                <span class="badgetext badge bg-danger bg-pill">2</span>
              </li>
              <li class="list-group-item justify-content-between">
                Itaque earum rerum hic tenetur a sapiente
                <span class="badgetext badge bg-success bg-pill">1</span>
              </li>
              <li class="list-group-item justify-content-between">
                Itaque earum rerum hic tenetur a sapiente
                <span class="badgetext badge bg-warning bg-pill">3</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mg-b-20" id="list8">
      <div class="card-header">
        <h3 class="card-title">Using Image</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <ul class="list-group wd-md-100p">
              <li class="list-group-item d-flex align-items-center">
                <img
                  alt=""
                  class="avatar rounded-circle mg-e-15"
                  src="./assets/img/users/5.jpg"
                />
                <div>
                  <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">
                    Adrian Monino
                  </h6>
                  <span class="d-block tx-11 text-muted">Premium Member</span>
                </div>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <img
                  alt=""
                  class="avatar rounded-circle mg-e-15"
                  src="./assets/img/users/6.jpg"
                />
                <div>
                  <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">
                    Joel Mendez
                  </h6>
                  <span class="d-block tx-11 text-muted">Premium Member</span>
                </div>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <img
                  alt=""
                  class="avatar rounded-circle mg-e-15"
                  src="./assets/img/users/9.jpg"
                />
                <div>
                  <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">
                    Marianne Audrey
                  </h6>
                  <span class="d-block tx-11 text-muted">Premium Member</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /row -->
</div>
