<div class="card">
  <div class="card-header">
    <div class="card-title">{{title}}</div>
  </div>
  <div class="card-body p-4">
    <div class="chats-wrap">
      <div *ngFor="let task of tasks" class="chat-details mb-3">
        <h4 class="mb-0">
          <span class="h5 font-weight-normal">{{task.title}}</span>
          <span class="float-end mt-1 tx-14 btn btn-sm text-default">{{task.progress}}%</span>
        </h4>
        <div class="progress progress-md mt-3">
          <div class="progress-bar progress-bar-striped {{task.bg}} progress-bar-animated" style="width: {{task.progress}}%"></div>
        </div>
      </div>
    </div>
  </div>
</div>