<app-page-header
  [title]="'Thumbnails'"
  [items]="['Elements']"
  [active_item]="'Thumbnails'"
></app-page-header>
<!-- row -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card custom-card" id="thumb">
      <div class="card-header">
        <h3 class="card-title mb-1">Image Thumbnail</h3>
        <p class="text-muted card-sub-title mb-0">
          Images in Bootstrap are made responsive with .img-fluid. max-width:
          100%; and height: auto; are applied to the image so that it scales
          with the parent element.
        </p>
      </div>
      <div class="card-body ht-100p">
        <div class="text-wrap">
          <div class="row">
            <div class="col-6 col-md-3">
              <img
                alt="Responsive image"
                class="img-thumbnail rounded-5"
                src="./assets/img/photos/9.jpg"
              />
            </div>
            <div class="col-6 col-md-3">
              <img
                alt="Responsive image"
                class="img-thumbnail rounded-5"
                src="./assets/img/photos/13.jpg"
              />
            </div>
            <div class="col-6 col-md-3 mg-t-10 mg-sm-t-0">
              <img
                alt="Responsive image"
                class="img-thumbnail rounded-5"
                src="./assets/img/photos/14.jpg"
              />
            </div>
            <div class="col-6 col-md-3 mg-t-10 mg-sm-t-0">
              <img
                alt="Responsive image"
                class="img-thumbnail rounded-5"
                src="./assets/img/photos/15.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12">
    <div class="card custom-card" id="aligning">
      <div class="card-header">
        <h3 class="card-title mb-1">Aligning Thumbnails</h3>
        <p class="text-muted card-sub-title">
          Align images with the helper float classes or text alignment classes.
        </p>
      </div>
      <div class="card-body ht-100p">
        <div class="text-wrap">
          <div class="example">
            <div class="clearfix">
              <img
                src="./assets/img/photos/10.jpg"
                class="float-sm-left wd-100p wd-sm-200"
                alt="img"
              />
              <img
                src="./assets/img/photos/11.jpg"
                class="float-sm-right wd-100p wd-sm-200 mg-t-10 mg-sm-t-0"
                alt="img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12">
    <div class="card custom-card" id="contentthumb">
      <div class="card-header">
        <h3 class="card-title mb-1">Custom content Thumbnails</h3>
        <p class="text-muted card-sub-title mb-0">
          Using the images in custom content thumbnails
        </p>
      </div>
      <div class="card-body ht-100p">
        <div class="text-wrap">
          <div class="row">
            <div class="col-xl-4 col-lg-4">
              <div class="img-thumbnail mb-3">
                <a href="javascript:void(0);">
                  <img
                    src="./assets/img/photos/4.jpg"
                    alt="thumb1"
                    class="thumbimg wd-100p"
                  />
                </a>
                <div class="caption">
                  <h5>Thumbnail label</h5>
                  <p class="mb-2">
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <div class="btn btn-list ps-0 pb-0">
                    <a
                      href="javascript:void(0);"
                      class="btn ripple btn-sm btn-primary"
                      role="button"
                      >Button</a
                    >
                    <a
                      href="javascript:void(0);"
                      class="btn ripple btn-sm btn-secondary"
                      role="button"
                      >Button</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4">
              <div class="img-thumbnail mb-3">
                <a href="javascript:void(0);">
                  <img
                    src="./assets/img/photos/9.jpg"
                    alt="thumb1"
                    class="thumbimg wd-100p"
                  />
                </a>
                <div class="caption">
                  <h5>Thumbnail label</h5>
                  <p class="mb-2">
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <div class="btn btn-list ps-0 pb-0">
                    <a
                      href="javascript:void(0);"
                      class="btn ripple btn-sm btn-primary"
                      role="button"
                      >Button</a
                    >
                    <a
                      href="javascript:void(0);"
                      class="btn ripple btn-sm btn-secondary"
                      role="button"
                      >Button</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4">
              <div class="img-thumbnail mb-3">
                <a href="javascript:void(0);">
                  <img
                    src="./assets/img/photos/8.jpg"
                    alt="thumb1"
                    class="thumbimg wd-100p"
                  />
                </a>
                <div class="caption rounde">
                  <h5>Thumbnail label</h5>
                  <p class="mb-2">
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <div class="btn btn-list ps-0 pb-0">
                    <a
                      href="javascript:void(0);"
                      class="btn ripple btn-sm btn-primary"
                      role="button"
                      >Button</a
                    >
                    <a
                      href="javascript:void(0);"
                      class="btn ripple btn-sm btn-secondary"
                      role="button"
                      >Button</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /row -->

<!-- row -->
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card custom-card" id="responsive">
      <div class="card-header">
        <h3 class="card-title mb-1">Responsive Thumbnails</h3>
        <p class="text-muted card-sub-title mb-0">
          Images in Bootstrap are made responsive with .img-fluid. max-width:
          100%; and height: auto; are applied to the image so that it scales
          with the parent element.
        </p>
      </div>
      <div class="card-body ht-100p">
        <div class="text-wrap">
          <div class="example">
            <div>
              <img
                alt="Responsive image"
                class="img-fluid"
                src="./assets/img/photos/7.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card overflow-hidden custom-card" id="background">
      <div class="card-header">
        <h3 class="card-title mb-1">Background Image</h3>
        <p class="text-muted card-sub-title mb-0">
          Make image as background to your content using the helper or utilities
          classes.
        </p>
      </div>
      <div class="card-body ht-100p">
        <div class="text-wrap">
          <div class="example">
            <figure class="pos-relative mg-b-0 overflow-hidden">
              <img
                alt="Responsive image"
                class="img-fit-cover rounded-5"
                src="./assets/img/photos/12.jpg"
              />
              <figcaption
                class="pos-absolute a-0 pd-25 bg-black-5 tx-white-8 rounded-5"
              >
                <h6
                  class="tx-14 tx-sm-16 tx-white tx-semibold mg-b-15 mg-sm-b-20"
                >
                  What Does Royalty-Free Mean?
                </h6>
                <p class="mg-b-0">
                  Royalty free means you just need to pay for rights to use the
                  item once per end product. You don't need to pay additional or
                  ongoing fees for each person who sees or uses it.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /row -->
