<div class="card overflow-hidden">
  <div class="card-header bg-transparent pd-b-0 pd-t-20 bd-b-0">
    <div class="d-flex justify-content-between">
      <h4 class="card-title mg-b-10">{{title}}</h4>
      <div class="dropdown" ngbDropdown>
        <a ngbDropdownToggle ngb href="javascript:void(0);" aria-expanded="false" aria-haspopup="true"
          class="px-2 py-1 rounded-1 tx-medium tx-12 bg-primary-gradient text-white"
          data-bs-toggle="dropdown" id="dropdownMenuButton">
          {{selected}}
          <i class="fe fe-chevron-down mx-1"></i>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dropdown-menu tx-13">
          <a ngbDropdownItem class="dropdown-item" (click)="select('daily')">Daily</a>
          <a ngbDropdownItem class="dropdown-item" (click)="select('monthly')">Monthly</a>
          <a ngbDropdownItem class="dropdown-item" (click)="select('yearly')">Yearly</a>
        </div>
      </div>
    </div>
    <p class="tx-13 text-muted mb-2">
      {{description}}
      <a href="{{descLinkUrl}}">{{descLinkText}}</a>
    </p>
  </div>
  <div class="card-body pd-y-7">
    <div id="project-budget">
      <canvas baseChart height="330px" [data]="data" [options]="options" [type]="type"></canvas>
    </div>
  </div>
</div>