::ng-deep{
.iti__country-list{
    border: 1px solid #7a6d6d38 ;
}
 .ltr .iti__arrow {
    margin-left: 12px !important;
}
.ng-select{
    z-index: 11 !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup{
    color: #fff;
}

}