<app-page-header
  [title]="'Search'"
  [items]="['Advance-ui']"
  [active_item]="'Search'"
></app-page-header>

<!-- row -->
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card custom-card">
      <div class="card-body pb-0">
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Searching....."
          />
          <span class="input-group-append">
            <button class="btn ripple btn-primary" type="button">Search</button>
          </span>
        </div>
      </div>
      <div class="card-body ps-0 pe-0 bd-t-0 pt-0">
        <div class="main-content-body-profile mb-3">
          <ul ngbNav #nav="ngbNav" class="nav-pills">
            <li [ngbNavItem]="1">
              <a ngbNavLink data-bs-toggle="tab">All</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab5">
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <div>
                          <a
                            href="javascript:void(0);"
                            class="tx-16 font-weight-bold"
                          >
                            http://www.samplewebsite.com</a
                          >
                        </div>
                        <a
                          href="javascript:void(0);"
                          class="text-primary font-weight-semibold tx-20 mb-1"
                          >Eirmod Aliquyamt: Dolor Accusam Sit</a
                        >
                      </div>
                      <h6 class="tx-16">
                        It is a long established fact that a reader will be
                        distracted by the readable content of a page when
                        looking at its layout
                      </h6>
                      <p class="mb-0 tx-16 text-muted">
                        Many desktop publishing packages and web page editors
                        now use Lorem Ipsum as their default model text, and a
                        search for 'lorem ipsum' will uncover many web sites
                        still in their infancy.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <div>
                          <a
                            href="javascript:void(0);"
                            class="tx-16 font-weight-bold"
                          >
                            http://www.samplewebsite.com</a
                          >
                        </div>
                        <a
                          href="javascript:void(0);"
                          class="text-primary font-weight-semibold tx-20 mb-1"
                          >Eirmod Aliquyamt: Dolor Accusam Sit</a
                        >
                      </div>
                      <h6 class="tx-16">
                        It is a long established fact that a reader will be
                        distracted by the readable content of a page when
                        looking at its layout
                      </h6>
                      <p class="mb-0 tx-16 text-muted">
                        Many desktop publishing packages and web page editors
                        now use Lorem Ipsum as their default model text, and a
                        search for 'lorem ipsum' will uncover many web sites
                        still in their infancy.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <div>
                          <a
                            href="javascript:void(0);"
                            class="tx-16 font-weight-bold"
                          >
                            http://www.samplewebsite.com</a
                          >
                        </div>
                        <a
                          href="javascript:void(0);"
                          class="text-primary font-weight-semibold tx-20 mb-1"
                          >Eirmod Aliquyamt: Dolor Accusam Sit</a
                        >
                      </div>
                      <h6 class="tx-16">
                        It is a long established fact that a reader will be
                        distracted by the readable content of a page when
                        looking at its layout
                      </h6>
                      <p class="mb-0 tx-16 text-muted">
                        Many desktop publishing packages and web page editors
                        now use Lorem Ipsum as their default model text, and a
                        search for 'lorem ipsum' will uncover many web sites
                        still in their infancy.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <div>
                          <a
                            href="javascript:void(0);"
                            class="tx-16 font-weight-bold"
                          >
                            http://www.samplewebsite.com</a
                          >
                        </div>
                        <a
                          href="javascript:void(0);"
                          class="text-primary font-weight-semibold tx-20 mb-1"
                          >Eirmod Aliquyamt: Dolor Accusam Sit</a
                        >
                      </div>
                      <h6 class="tx-16">
                        It is a long established fact that a reader will be
                        distracted by the readable content of a page when
                        looking at its layout
                      </h6>
                      <p class="mb-0 tx-16 text-muted">
                        Many desktop publishing packages and web page editors
                        now use Lorem Ipsum as their default model text, and a
                        search for 'lorem ipsum' will uncover many web sites
                        still in their infancy.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <div>
                          <a
                            href="javascript:void(0);"
                            class="tx-16 font-weight-bold"
                          >
                            http://www.samplewebsite.com</a
                          >
                        </div>
                        <a
                          href="javascript:void(0);"
                          class="text-primary font-weight-semibold tx-20 mb-1"
                          >Eirmod Aliquyamt: Dolor Accusam Sit</a
                        >
                      </div>
                      <h6 class="tx-16">
                        It is a long established fact that a reader will be
                        distracted by the readable content of a page when
                        looking at its layout
                      </h6>
                      <p class="mb-0 tx-16 text-muted">
                        Many desktop publishing packages and web page editors
                        now use Lorem Ipsum as their default model text, and a
                        search for 'lorem ipsum' will uncover many web sites
                        still in their infancy.
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink data-bs-toggle="tab" class="">Images</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab6">
                  <div class="demo-gallery card">
                    <div class="card-body">
                      <ul class="list-unstyled row" gallerize>
                        <li
                          *ngFor="let img of imageData"
                          class="col-xs-6 col-sm-4 col-md-4 col-xl-4 mb-5 border-bottom-0"
                        >
                          <img
                            class="img-fluid wp-100 mb-2 br-5"
                            [src]="img.srcUrl"
                            alt="banner image"
                          />
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink data-bs-toggle="tab" class="">Books</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab7">
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >Zendash - Bootstrap HTML Dashboard Template</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://www.spruko.com/demo/zendash/html/</a
                      >
                      <p class="text-muted mt-2 mb-1">
                        Treal Template included in 30 versions. In the demo 30
                        versions is shown in 4 floders. And In the final each
                        version has single floder corresponding to that ...
                      </p>
                      <p class="text-muted mb-2">
                        Tags: admin, admin dashboard, admin panel, admin
                        template, backend, bootstrap, bootstrap 4, clean,
                        dashboard, flat, jquery, modern, premium admin templates
                        ...
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >Zendash template related Images</a
                        >
                      </div>
                      <div class="tags mb-2">
                        <span class="tag">
                          background
                          <a href="javascript:void(0)" class="tag-addon"
                            ><i class="fe fe-x"></i
                          ></a>
                        </span>
                        <span class="tag">
                          admin template
                          <a href="javascript:void(0)" class="tag-addon"
                            ><i class="fe fe-x"></i
                          ></a>
                        </span>
                        <span class="tag">
                          UX designs
                          <a href="javascript:void(0)" class="tag-addon"
                            ><i class="fe fe-x"></i
                          ></a>
                        </span>
                        <span class="tag">
                          Presentation
                          <a href="javascript:void(0)" class="tag-addon"
                            ><i class="fe fe-x"></i
                          ></a>
                        </span>
                      </div>
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >Zendash - Bootstrap HTML Dashboard Template</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://www.spruko.com/demo/zendash/html/</a
                      >
                      <p class="text-muted mt-2 mb-1">
                        Treal Template included in 30 versions. In the demo 30
                        versions is shown in 4 floders. And In the final each
                        version has single floder corresponding to that ...
                      </p>
                      <p class="text-muted mb-2">
                        Tags: admin, admin dashboard, admin panel, admin
                        template, backend, bootstrap, bootstrap 4, clean,
                        dashboard, flat, jquery, modern, premium admin templates
                        ...
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >Eduserv Website Templates from ThemeForest</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://spruko.com/demo/eduserv/html/</a
                      >
                      <p class="text-muted mt-2 mb-2">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                        aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam est, qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit, sed quia non numquam eius
                        modi tempora incidunt ut labore et dolore magnam aliquam
                        quaerat voluptatem.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >HostOne – Web Hosting HTML Creative Responsive Clean
                          Template</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://www.spruko.com/demo/hostone/html/</a
                      >
                      <p class="text-muted mt-2 mb-1">
                        HostOne - Web Hosting HTML Creative Responsive Clean
                        Template by sprukosoft HostOne -HTML Templates is a
                        Clean, Simple Responsive Template Design.
                      </p>
                      <p class="text-muted mb-2">
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur, adipisci velit, sed quia non
                        numquam eius modi tempora incidunt ut labore et dolore
                        magnam aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi
                        consequatur? Quis autem vel eum iure reprehenderit qui
                        in ea voluptate velit esse quam nihil molestiae
                        consequatur, vel illum qui dolorem eum fugiat quo
                        voluptas nulla pariatur?
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink data-bs-toggle="tab" class="">News</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab8">
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >Zendash template related Images</a
                        >
                      </div>
                      <div class="tags mb-2">
                        <span class="tag">
                          background
                          <a href="javascript:void(0)" class="tag-addon"
                            ><i class="fe fe-x"></i
                          ></a>
                        </span>
                        <span class="tag">
                          admin template
                          <a href="javascript:void(0)" class="tag-addon"
                            ><i class="fe fe-x"></i
                          ></a>
                        </span>
                        <span class="tag">
                          UX designs
                          <a href="javascript:void(0)" class="tag-addon"
                            ><i class="fe fe-x"></i
                          ></a>
                        </span>
                        <span class="tag">
                          Presentation
                          <a href="javascript:void(0)" class="tag-addon"
                            ><i class="fe fe-x"></i
                          ></a>
                        </span>
                      </div>
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >Zendash - Bootstrap HTML Dashboard Template</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://www.spruko.com/demo/zendash/html/</a
                      >
                      <p class="text-muted mt-2 mb-1">
                        Treal Template included in 30 versions. In the demo 30
                        versions is shown in 4 floders. And In the final each
                        version has single floder corresponding to that ...
                      </p>
                      <p class="text-muted mb-2">
                        Tags: admin, admin dashboard, admin panel, admin
                        template, backend, bootstrap, bootstrap 4, clean,
                        dashboard, flat, jquery, modern, premium admin templates
                        ...
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >Eduserv Website Templates from ThemeForest</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://spruko.com/demo/eduserv/html/</a
                      >
                      <p class="text-muted mt-2 mb-2">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                        aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam est, qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit, sed quia non numquam eius
                        modi tempora incidunt ut labore et dolore magnam aliquam
                        quaerat voluptatem.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >HostOne – Web Hosting HTML Creative Responsive Clean
                          Template</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://www.spruko.com/demo/hostone/html/</a
                      >
                      <p class="text-muted mt-2 mb-1">
                        HostOne - Web Hosting HTML Creative Responsive Clean
                        Template by sprukosoft HostOne -HTML Templates is a
                        Clean, Simple Responsive Template Design.
                      </p>
                      <p class="text-muted mb-2">
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur, adipisci velit, sed quia non
                        numquam eius modi tempora incidunt ut labore et dolore
                        magnam aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi
                        consequatur? Quis autem vel eum iure reprehenderit qui
                        in ea voluptate velit esse quam nihil molestiae
                        consequatur, vel illum qui dolorem eum fugiat quo
                        voluptas nulla pariatur?
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="5">
              <a ngbNavLink data-bs-toggle="tab" class="">Videos</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab9">
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >Eduserv Website Templates from ThemeForest</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://spruko.com/demo/eduserv/html/</a
                      >
                      <p class="text-muted mt-2 mb-2">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                        aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam est, qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit, sed quia non numquam eius
                        modi tempora incidunt ut labore et dolore magnam aliquam
                        quaerat voluptatem.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-2">
                        <a href="javascript:void(0)" class="h4 text-dark"
                          >HostOne – Web Hosting HTML Creative Responsive Clean
                          Template</a
                        >
                      </div>
                      <a href="javascript:void(0)" class="text-primary"
                        >https://www.spruko.com/demo/hostone/html/</a
                      >
                      <p class="text-muted mt-2 mb-1">
                        HostOne - Web Hosting HTML Creative Responsive Clean
                        Template by sprukosoft HostOne -HTML Templates is a
                        Clean, Simple Responsive Template Design.
                      </p>
                      <p class="text-muted mb-2">
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur, adipisci velit, sed quia non
                        numquam eius modi tempora incidunt ut labore et dolore
                        magnam aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi
                        consequatur? Quis autem vel eum iure reprehenderit qui
                        in ea voluptate velit esse quam nihil molestiae
                        consequatur, vel illum qui dolorem eum fugiat quo
                        voluptas nulla pariatur?
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <p class="text-muted mb-0 ps-3">
          About 12,546,90000 results (0.56 Seconds)
        </p>
      </div>
    </div>

    <div class="card custom-card">
      <div class="card-body">
        <div class="main-result">
          <div [ngbNavOutlet]="nav" class="tab-pane"></div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <ngb-pagination
        [collectionSize]="40"
        [(page)]="page"
        aria-label="Default pagination"
      ></ngb-pagination>
    </div>
  </div>
</div>
<!-- row closed -->
