<div class="square-box">
			<div></div>	<div></div>	<div></div>	<div></div>	<div></div>	<div></div>	<div></div>
				<div></div>	<div></div>	<div></div>	<div></div>
		</div>
		<!-- page -->
	<div class="page login-img">

		<!-- Main-error-wrapper -->
		<div class="main-error-wrapper text-white page page-h ">
			<h1 class="text-white">403<span class="tx-20">error</span></h1>
			<h2 class="text-white">Oopps. The page you were looking for doesn't exist.</h2>
			<h6 class="text-white">You may have mistyped the address or the page may have moved.</h6><a class="btn btn-outline-success" href="index.html">Back to Home</a>
		</div>
	</div>
		<!-- page closed -->