<app-page-header
  [title]="'Users'"
  [items]="['Users']"
  [active_item]="'My Profile'"
></app-page-header>
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Profile</div>
        <p class="text-muted card-sub-title mb-0">
          First import a latest version of jquery in your page. Then the
          jquery.sumoselect.min.js and its css (sumoselect.css)
        </p>
      </div>
      <div class="card-body">
        <div class="mb-4">
          <p class="mg-b-10">Name</p>
          <input type="text" class="form-control" [(ngModel)]="name" />
        </div>
        <div class="mb-4">
          <button type="submit" class="btn btn-primary form-control {{disabled}}" (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
