<!-- main-sidebar -->

<div class="sticky" [ngClass]="{ 'sticky-pin': scrolled }">
  <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
  <aside class="app-sidebar sidebar-scroll">
    <div class="main-sidebar-header active">
      <a class="desktop-logo logo-light active" href="index.html"
        ><img src="./assets/img/brand/logo.png" class="main-logo" alt="logo"
      /></a>
      <a class="desktop-logo logo-dark active" href="index.html"
        ><img
          src="./assets/img/brand/logo-white.png"
          class="main-logo"
          alt="logo"
      /></a>
      <a class="logo-icon mobile-logo icon-light active" href="index.html"
        ><img src="./assets/img/brand/favicon.png" alt="logo"
      /></a>
      <a class="logo-icon mobile-logo icon-dark active" href="index.html"
        ><img src="./assets/img/brand/favicon-white.png" alt="logo"
      /></a>
    </div>
    <ng-scrollbar>
      <div class="main-sidemenu">
        <div class="main-sidebar-loggedin">
          <div class="app-sidebar__user">
            <div class="dropdown user-pro-body text-center">
              <div class="user-pic">
                <img
                  src="./assets/img/users/5.jpg"
                  alt="user-img"
                  class="rounded-circle mCS_img_loaded"
                />
              </div>
              <div class="user-info mb-4">
                <h6 class="mb-0 text-dark" *ngIf="oauth.currentUser">{{oauth.currentUser.name}}</h6>
                <h6 class="mb-0 text-dark" *ngIf="!oauth.currentUser">Not Logged In</h6>
                <span class="text-muted app-sidebar__user-name text-sm" *ngIf="oauth.currentUser">{{oauth.currentUser.role}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-left disabled" id="slide-left">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#7b8191"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
            />
          </svg>
        </div>
        <ul
          class="side-menu"
          style="margin-right: 0px; margin-left: 0px; flex-wrap: nowrap"
        >
          <!-- 1st Level Menu -->
          <li
            class="side-item"
            *ngFor="let menuItem of menuItems"
            [ngClass]="{
              'side-item side-item-category': menuItem.headTitle,
              slide: menuItem.title,
              active: menuItem.selected,
              'side-item': menuItem.type,
              show: menuItem.active,
              'is-expanded': menuItem.active
            }"
          >
            <a
              class="side-menu__item active has__link"
              [routerLink]="!menuItem.type ? null : [menuItem.path]"
              *ngIf="menuItem.type === 'link'"
              routerLinkActive="active"
              (click)="toggleNavActive(menuItem)"
            >
              <span class="shape1"></span>
              <span class="shape2"></span>
              <span class="side-menu__icon">
                <i class="fe fe-{{ menuItem.icon }} "></i>
              </span>
              <span class="side-menu__label">{{ menuItem.title }}</span>
              <span class="badge side-badge bg-{{ menuItem.badgeClass }} ">{{
                menuItem.badgeValue
              }}</span>
            </a>
            <!-- empty path -->
            <a
              class="side-menu__item has__link"
              href="javascript:;"
              *ngIf="menuItem.type === 'empty'"
              routerLinkActive="active"
              (click)="toggleNavActive(menuItem)"
            >
              <span class="shape1"></span>
              <span class="shape2"></span>
              <span class="side-menu__icon side-menu__label1">
                <i class="fe fe-{{ menuItem.icon }} "></i>
              </span>
              <span class="badge side-badge bg-{{ menuItem.badgeClass }} ">{{
                menuItem.badgeValue
              }}</span>
              <span class="side-menu__label">{{ menuItem.title }}</span>
            </a>
            <!-- external -->
            <a
              class="side-menu__item has__link"
              routerLinkActive="active"
              target="_blank"
              [routerLink]="!menuItem.type ? null : [menuItem.path]"
              *ngIf="menuItem.type === 'external'"
              (click)="toggleNavActive(menuItem)"
            >
              <span class="side-menu__icon">
                <i class="fe fe-{{ menuItem.icon }} "></i>
              </span>
              <span class="side-menu__label">{{ menuItem.title }}</span>
              <span class="badge side-badge bg-{{ menuItem.badgeClass }} ">{{
                menuItem.badgeValue
              }}</span>
            </a>
            <!-- has-Sub -->
            <a
              class="side-menu__item"
              [routerLink]="menuItem.type ? null : [menuItem.path]"
              *ngIf="menuItem.type === 'sub'"
              (click)="toggleNavActive(menuItem)"
              [ngClass]="{ active: menuItem.selected }"
            >
              <span class="shape1"></span>
              <span class="shape2"></span>
              <span class="side-menu__icon">
                <i class="fe fe-{{ menuItem.icon }} "></i>
              </span>
              <span class="side-menu__label">{{ menuItem.title }}</span>
              <span
                class="badge side-badge bg-{{ menuItem.badgeClass }} "
                *ngIf="menuItem.badgeClass && menuItem.badgeValue"
              >
                {{ menuItem.badgeValue }}
              </span>
              <i
                class="angle fe fe-chevron-right"
                [ngClass]="{ 'd-none': menuItem.badgeClass }"
              ></i>
            </a>
            <!-- has-mega-menu -->
            <a
              class="side-menu__item"
              [routerLink]="menuItem.type ? null : [menuItem.path]"
              *ngIf="menuItem.type === 'mega-menu'"
              (click)="toggleNavActive(menuItem)"
              [ngClass]="{ active: menuItem.selected }"
            >
              <span class="shape1"></span>
              <span class="shape2"></span>
              <span class="side-menu__icon">
                <i class="fe fe-{{ menuItem.icon }} "></i>
              </span>
              <span class="side-menu__label">{{ menuItem.title }}</span>
              <span
                class="{{ menuItem.badgeClass }}"
                *ngIf="menuItem.badgeClass && menuItem.badgeValue"
              >
                {{ menuItem.badgeValue }}
              </span>
              <i
                class="angle fe fe-chevron-right"
                [ngClass]="{ 'd-none': menuItem.badgeClass }"
              ></i>
            </a>
            <!-- 2nd Level menu -->
            <ul
              class="slide-menu"
              *ngIf="menuItem.children && menuItem.type === 'sub'"
              [ngClass]="{ open: menuItem.active }"
            >
              <li
                *ngFor="let childrenItem of menuItem.children"
                [ngClass]="{
                  'is-expanded': childrenItem.active,
                  active: childrenItem.selected,
                  'sub-slide': childrenItem.Menusub
                }"
              >
                <!-- link -->
                <a
                  class="slide-item"
                  routerLinkActive="active"
                  [routerLink]="!childrenItem.type ? null : [childrenItem.path]"
                  *ngIf="childrenItem.type === 'link'"
                  (click)="toggleNavActive(childrenItem)"
                >
                  {{ childrenItem.title }}
                </a>
                <!-- empty -->
                <a
                  class="slide-item"
                  routerLinkActive="active"
                  href="javascript:;"
                  *ngIf="childrenItem.type === 'empty'"
                  (click)="toggleNavActive(childrenItem)"
                >
                  {{ childrenItem.title }}
                </a>

                <!-- sub -->
                <a
                  href="javascript:;"
                  class="sub-side-menu__item"
                  [routerLink]="childrenItem.type ? null : [childrenItem.path]"
                  *ngIf="childrenItem.type === 'sub'"
                  (click)="toggleNavActive(childrenItem)"
                >
                  <span class="sub-side-menu__label">
                    {{ childrenItem.title }}</span
                  >
                  <i class="sub-angle fe fe-chevron-right"></i>
                </a>

                <!-- 3rd Level menu -->
                <ul
                  class="sub-slide-menu"
                  *ngIf="childrenItem.children"
                  [ngClass]="{ open: childrenItem.active }"
                  [ngClass]="{ open: childrenItem.active }"
                >
                  <li
                    *ngFor="let childrenSubItem of childrenItem.children"
                    [ngClass]="{ 'is-expanded': childrenSubItem.active }"
                  >
                    <!-- link -->
                    <a
                      class="sub-slide-item"
                      routerLinkActive="active"
                      [routerLink]="
                        !childrenSubItem.type ? null : [childrenSubItem.path]
                      "
                      *ngIf="childrenSubItem.type === 'link'"
                      (click)="toggleNavActive(childrenSubItem)"
                    >
                      {{ childrenSubItem.title }}
                    </a>
                    <!-- empty -->
                    <a
                      class="sub-slide-item"
                      href="javascript:;"
                      *ngIf="childrenSubItem.type === 'empty'"
                      (click)="toggleNavActive(childrenSubItem)"
                    >
                      {{ childrenSubItem.title }}
                    </a>
                    <!-- sub -->
                    <a
                      class="sub-slide-item"
                      href="javascript:;"
                      [ngClass]="{ active: childrenSubItem.selected }"
                      [routerLink]="
                        childrenSubItem.type ? null : [childrenSubItem.path]
                      "
                      *ngIf="childrenSubItem.type === 'sub'"
                      (click)="toggleNavActive(childrenSubItem)"
                    >
                      <span class="sub-side-menu__label2">
                        {{ childrenSubItem.title }}
                      </span>
                      <i class="sub-angle2 fe fe-chevron-right"></i>
                    </a>

                    <!--4th level -->
                    <ul
                      class="sub-slide-menu2"
                      *ngIf="childrenSubItem.children"
                      [ngClass]="{ open: childrenSubItem.active }"
                    >
                      <li
                        class=" "
                        *ngFor="
                          let childrenSubItem1 of childrenSubItem.children
                        "
                        [ngClass]="{ 'is-expanded': childrenSubItem1.active }"
                      >
                        <a
                          class="sub-slide-item2"
                          routerLinkActive="active"
                          [routerLink]="
                            !childrenSubItem1.type
                              ? null
                              : [childrenSubItem1.path]
                          "
                          *ngIf="childrenSubItem1.type === 'link'"
                        >
                          {{ childrenSubItem1.title }}</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- 2nd Level mega-menu -->
            <ul
              class="slide-menu mega-slide-menu"
              *ngIf="menuItem.children && menuItem.type === 'mega-menu'"
              [ngClass]="{ open: menuItem.active }"
            >
              <div class="mega-menu">
                <div *ngFor="let childrenItem of menuItem.children">
                  <ul>
                    <li *ngFor="let Items of childrenItem.items">
                      <a
                        routerLinkActive="active"
                        [routerLink]="!Items.type ? null : [Items.path]"
                        *ngIf="Items.type === 'link'"
                        class="slide-item"
                      >
                        {{ Items.title }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
        </ul>
        <div class="slide-right" id="slide-right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#7b8191"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
            />
          </svg>
        </div>
      </div>
    </ng-scrollbar>
  </aside>
</div>
<!-- main-sidebar -->
