<div class="card widgets-cards {{bg}} text-default border-0">
  <div class="card-body">
    <div class="d-flex">
      <div class="chart-circle chart-circle-sm me-1" data-value="0.62" data-thickness="6" data-color="#b50d05">
         <circle-progress
            class="text-white"
            [percent]="percent"
            [radius]="25"
            [space]="-6"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="6"
            [showInnerStroke]="true"
            [outerStrokeColor]="stroke"
            [innerStrokeColor]="'#f0f0f8'"
            [showSubtitle]="false"
            [animation]="false"
            [animationDuration]="1000"
            [showImage]="false"
            [imageHeight]="10"
            [imageWidth]="10"
          ></circle-progress>
        <!-- <div class="chart-circle-value text-white">70%</div> -->
      </div>
      <div class="ms-2 mt-2">
        <h2 class="mb-0 tx-22">{{title}}</h2>
        <div class="">
          <span class="tx-12"><i class="fe {{percentChange>0?'fe-arrow-up-right':percentChange<0?'fe-arrow-down-right':'fe-arrow-right'}}"></i></span>
          <span class="tx-12">{{percentChange>0?'+':''}}{{percentChange|number:'1.2-2'}}%</span>
        </div>
      </div>
      <h2 class="mt-3 ms-auto">{{amount|number}}</h2>
    </div>
  </div>
</div>