<!-- page -->
<div class="square-box">
			<div></div>	<div></div>	<div></div>	<div></div>	<div></div>	<div></div>	<div></div>
				<div></div>	<div></div>	<div></div>	<div></div>
		</div>
<div class="page login-img">
  <!-- main-signin-wrapper -->
  <div class="">
    <div class="my-auto page page-h">
      <div class="main-signin-wrapper">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
          <div class="text-center mb-3">
            <img src="./assets/img/brand/logo-white.png" class="h-8" alt="" />
          </div>
          <div class="card">
            <div class="card-body p-5">
              <div class="main-signin-header">
                <h2>Welcome back!</h2>
                <h4>Please sign in to continue</h4>
                <form action="/dashboard/sales-dashboard">
                  <div class="form-group">
                    <label>Email</label
                    ><input
                      class="form-control"
                      placeholder="Enter your email"
                      type="text"
                      value="info@spruko.com"
                    />
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      class="form-control"
                      placeholder="Enter your password"
                      type="password"
                      value="sprukodemo"
                    />
                  </div>
                  <button class="btn btn-primary btn-block" >Sign In</button>
                </form>
              </div>
              <div class="main-signin-footer mt-3 mg-t-5">
                <p><a routerLink="/custompages/forgot-password">Forgot password?</a></p>
                <p>
                  Don't have an account?
                  <a routerLink="/custompages/login">Create an Account</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page closed -->
