<app-page-header
  [title]="'Cards'"
  [items]="['Apps']"
  [active_item]="'Cards'"
></app-page-header>

<!-- row opened -->
<div class="row row-sm">
  <div class="col-12 col-sm-4 col-md-12 col-xl-4">
    <div class="card">
      <div class="card-body">
        On the other hand, we denounce with righteous indignation and dislike
        men who are so beguiled and demoralized
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4 col-md-12 col-xl-4">
    <div class="card bg-orange border-0 text-white">
      <div class="card-body">
        On the other hand, we denounce with righteous indignation and dislike
        men who are so beguiled and demoralized
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4 col-md-12 col-xl-4">
    <div class="card bg-danger border-0 text-white">
      <div class="card-body">
        On the other hand, we denounce with righteous indignation and dislike
        men who are so beguiled and demoralized
      </div>
    </div>
  </div>
</div>
<!-- row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-md">
    <div class="card card-body bg-gray-100 bd-0">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content. Lorem ipsum dolor sit amet consictetur...
      </p>
    </div>
  </div>
  <div class="col-md mg-md-t-0">
    <div class="card card-body bg-secondary tx-white bd-0">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content. Lorem ipsum dolor sit amet consictetur...
      </p>
    </div>
  </div>
  <div class="col-md mg-md-t-0">
    <div class="card card-body bg-primary tx-white bd-0">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content. Lorem ipsum dolor sit amet consictetur...
      </p>
    </div>
  </div>
</div>
<!-- /row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-md">
    <div class="card bg-gray-100 bd-0">
      <div class="card-body">
        <h5 class="card-title tx-dark tx-medium mg-b-10">The Card Title</h5>
        <p class="card-subtitle my-2">This is the card subtitle</p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a class="card-link" href="javascript:void(0);">Card link</a>
        <a class="card-link" href="javascript:void(0);">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-md mg-md-t-0">
    <div class="card bg-secondary tx-white bd-0">
      <div class="card-body">
        <h5 class="card-title tx-white tx-medium mg-b-10">The Card Title</h5>
        <p class="card-subtitle my-2 tx-white-8">This is the card subtitle</p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a class="card-link tx-white-7 hover-white" href="javascript:void(0);"
          >Card link</a
        >
        <a class="card-link tx-white-7 hover-white" href="javascript:void(0);"
          >Another link</a
        >
      </div>
    </div>
  </div>
  <div class="col-md mg-md-t-0">
    <div class="card bg-secondary tx-white bd-0">
      <div class="card-body">
        <h5 class="card-title tx-white tx-medium mg-b-10">The Card Title</h5>
        <p class="card-subtitle tx-white-8 my-2">This is the card subtitle</p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a class="card-link tx-white-7 hover-white" href="javascript:void(0);"
          >Card link</a
        >
        <a class="card-link tx-white-7 hover-white" href="javascript:void(0);"
          >Another link</a
        >
      </div>
    </div>
  </div>
</div>
<!-- /row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-md-4 col-lg-4">
    <div class="card">
      <img alt="Image" class="card-img-top" src="./assets/img/photos/14.jpg" />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <!-- col-4 -->
  <div class="col-md-4 col-lg-4 mg-md-t-0">
    <div class="card">
      <img alt="Image" class="card-img-top" src="./assets/img/photos/12.jpg" />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <!-- col-4 -->
  <div class="col-md-4 col-lg-4 mg-md-t-0">
    <div class="card">
      <img alt="Image" class="card-img-top" src="./assets/img/photos/13.jpg" />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <!-- col-4 -->
</div>
<!-- /row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <img
        alt="Image"
        class="card-img-bottom"
        src="./assets/img/photos/1.jpg"
      />
    </div>
  </div>
  <!-- col-4 -->
  <div class="col-md-4 col-lg-4 mg-md-t-0">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <img
        alt="Image"
        class="card-img-bottom"
        src="./assets/img/photos/2.jpg"
      />
    </div>
  </div>
  <!-- col-4 -->
  <div class="col-md-4 col-lg-4 mg-md-t-0">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <img
        alt="Image"
        class="card-img-bottom"
        src="./assets/img/photos/11.jpg"
      />
    </div>
  </div>
  <!-- col-4 -->
</div>
<!-- /row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-lg-6 col-xl-4">
    <div class="card">
      <img alt="Image" class="card-img-top" src="./assets/img/photos/3.jpg" />
      <div
        class="card-img-overlay pd-30 bg-black-4 d-flex flex-column justify-content-center"
      >
        <p class="tx-white tx-medium mg-b-15">The Cat Prisoner</p>
        <p class="tx-white-7 tx-13">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
        <p class="tx-13 mg-b-0"><a class="tx-white" href="">Read more</a></p>
      </div>
      <!-- card-img-overlay -->
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <div class="card">
      <img
        alt="Image"
        class="card-img card-img-top"
        src="./assets/img/photos/5.jpg"
      />
      <div
        class="card-img-overlay pd-30 bg-black-4 d-flex flex-column justify-content-center"
      >
        <p class="tx-white tx-medium mg-b-15">The Ghost Town</p>
        <p class="tx-white-7 tx-13">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
        <p class="tx-13 mg-b-0"><a class="tx-white" href="">Read more</a></p>
      </div>
      <!-- card-img-overlay -->
    </div>
  </div>
  <div class="col-lg-12 col-xl-4">
    <div class="card">
      <img
        alt="Image"
        class="card-img card-img-top"
        src="./assets/img/photos/6.jpg"
      />
      <div
        class="card-img-overlay pd-30 bg-black-4 d-flex flex-column justify-content-center"
      >
        <p class="tx-white tx-medium mg-b-15">The Green Leaves</p>
        <p class="tx-white-7 tx-13">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
        <p class="tx-13 mg-b-0"><a class="tx-white" href="">Read more</a></p>
      </div>
      <!-- card-img-overlay -->
    </div>
  </div>
</div>
<!-- /row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header tx-medium bd-0 tx-white bg-secondary">
        Description
      </div>
      <div class="card-body">
        <p class="mg-b-0">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mg-md-t-0">
    <div class="card">
      <div class="card-header tx-medium bd-0 tx-white bg-primary">
        Description
      </div>
      <div class="card-body">
        <p class="mg-b-0">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mg-md-t-0">
    <div class="card">
      <div class="card-header tx-medium bd-0 tx-white bg-gray-800">
        Description
      </div>
      <div class="card-body">
        <p class="mg-b-0">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <p class="mg-b-0">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
      </div>
      <div class="card-footer bd-t text-muted">January, 20, 2017 4:30am</div>
    </div>
  </div>
  <div class="col-md mg-md-t-0">
    <div class="card">
      <div class="card-body">
        <p class="mg-b-0">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
      </div>
      <div class="card-footer bd-t tx-center">
        <a >Read more</a>
      </div>
    </div>
  </div>
  <div class="col-md mg-md-t-0">
    <div class="card">
      <div class="card-body">
        <p class="mg-b-0">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consictetur...
        </p>
      </div>
      <div class="card-footer bd-t tx-right">
        <a href="javascript:void(0);"
          >Share <i class="icon ion-logo-facebook mg-s-5 mg-e-5"></i>
          <i class="icon ion-logo-twitter"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- /row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-md">
    <div class="card card-body tx-white-8 bg-primary bd-0">
      Some quick example text to build on the card title and make up the bulk of
      the card's content. Lorem ipsum dolor sit amet consictetur.
    </div>
  </div>
  <div class="col-md mg-md-t-0">
    <div class="card card-body tx-white-8 bg-secondary bd-0">
      Some quick example text to build on the card title and make up the bulk of
      the card's content. Lorem ipsum dolor sit amet consictetur.
    </div>
  </div>
  <div class="col-md mg-md-t-0">
    <div class="card card-body tx-white-8 bg-success bd-0">
      Some quick example text to build on the card title and make up the bulk of
      the card's content. Lorem ipsum dolor sit amet consictetur.
    </div>
  </div>
</div>
<!-- /row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-12 col-lg-12 col-xl-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle font-weight-normal my-2 text-muted">
          Card subtitle
        </h6>
        <p class="card-text">
          Ut aut reiciendis voluptatibus maiores alias consequatur aut
          perferendis doloribus asperiores repellat.
        </p>
        <a href="javascript:void(0);" class="card-link">Card link</a>
        <a href="javascript:void(0);" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-12 col-xl-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle font-weight-normal my-2 text-muted">
          Card subtitle
        </h6>
        <p class="card-text">
          Ut aut reiciendis voluptatibus maiores alias consequatur aut
          perferendis doloribus asperiores repellat.
        </p>
        <a href="javascript:void(0);" class="card-link">Card link</a>
        <a href="javascript:void(0);" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-12 col-xl-4">
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title text-white">Card title</h5>
        <h6 class="card-subtitle my-2 text-white">Card subtitle</h6>
        <p class="card-text">
          Ut aut reiciendis voluptatibus maiores alias consequatur aut
          perferendis doloribus asperiores repellat.
        </p>
        <a href="javascript:void(0);" class="card-link text-white">Card link</a>
        <a href="javascript:void(0);" class="card-link text-white"
          >Another link</a
        >
      </div>
    </div>
  </div>
</div>
<!-- row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Special title treatment</h5>
        <p class="card-text">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum.
        </p>
        <a href="javascript:void(0);" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Special title treatment</h5>
        <p class="card-text">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum.
        </p>
        <a href="javascript:void(0);" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-lg-4 col-md-12 col-12 col-sm-12">
    <div class="card">
      <img
        class="card-img-top"
        src="./assets/img/photos/1.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          To take a trivial example, which of us ever undertakes laborious
          physical exercise.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-12 col-sm-12">
    <div class="card">
      <img
        class="card-img-top"
        src="./assets/img/photos/2.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          To take a trivial example, which of us ever undertakes laborious
          physical exercise.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-12 col-sm-12">
    <div class="card">
      <img
        class="card-img-top"
        src="./assets/img/photos/3.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          To take a trivial example, which of us ever undertakes laborious
          physical exercise.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-xl-4 col-lg-4 col-md-12">
    <div class="card">
      <img class="card-img-top w-100" src="./assets/img/photos/4.jpg" alt="" />
      <div class="card-body">
        <h4 class="card-title mb-3">Card Title</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
        <a class="btn btn-primary" href="javascript:void(0);">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12">
    <div class="card">
      <img class="card-img-top w-100" src="./assets/img/photos/5.jpg" alt="" />
      <div class="card-body">
        <h4 class="card-title mb-3">Card Title</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
        <a class="btn btn-primary" href="javascript:void(0);">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12">
    <div class="card">
      <img class="card-img-top w-100" src="./assets/img/photos/6.jpg" alt="" />
      <div class="card-body">
        <h4 class="card-title mb-3">Card Title</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
        <a class="btn btn-primary" href="javascript:void(0);">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-xl-4 col-lg-4 col-md-12">
    <div class="card text-center">
      <img class="card-img-top w-100" src="./assets/img/photos/7.jpg" alt="" />
      <div class="card-body">
        <h4 class="card-title mb-3">Card Title</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
        <a class="btn btn-primary" href="javascript:void(0);">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12">
    <div class="card text-center">
      <img class="card-img-top w-100" src="./assets/img/photos/8.jpg" alt="" />
      <div class="card-body">
        <h4 class="card-title mb-3">Card Title</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
        <a class="btn btn-primary" href="javascript:void(0);">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12">
    <div class="card text-center">
      <img class="card-img-top w-100" src="./assets/img/photos/9.jpg" alt="" />
      <div class="card-body">
        <h4 class="card-title mb-3">Card Title</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
        <a class="btn btn-primary" href="javascript:void(0);">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->
