<div class="card card-img-holder text-default bg-color"> 
  <div class="card-body">
    <div class="d-flex">
      <div class="my-auto">
        <div class="circle-icon {{background}} text-center align-self-center shadow-primary">
          <img src="./assets/img/svgicons/circle.svg" alt="circle" class="card-img-absolute" />
          <i class="bx bx-{{icon}} icon-user-bx tx-30 text-white"></i>
        </div>
      </div>
      <div class="project-content">
        <h3 class="mb-0 tx-18">{{title}}</h3>
        <div class="">
          <span class="badge {{dt.status}} fs-10">{{dt.value}}%</span>
          <span *ngIf="deltaRelativeDate === ''" class="px-2 text-muted">{{dt.date | date:'MMM d, yyyy'}}</span>
          <span *ngIf="deltaRelativeDate !== ''" class="px-2 text-muted">{{deltaRelativeDate}}</span>
        </div>
      </div>
      <h2 class="mt-2 ms-auto">{{amount|number}}</h2>
    </div>
  </div>
</div>