<app-page-header
  [title]="'Products'"
  [items]="['E-Commerce']"
  [active_item]="'Products'"
></app-page-header>
<!-- row -->
<div class="row row-sm">
  <div class="col-md-3 mb-3 mb-md-0">
    <div class="card">
      <h5 class="m-0 p-3 card-title bg-light border-bottom">Category</h5>
      <div class="py-2 px-3">
        <label class="p-1 mt-2 d-flex align-items-center">
          <span class="checkbox">
            <span class="check-box mb-0">
              <span class="ckbox"
                ><input checked="" type="checkbox" /><span></span
              ></span>
            </span>
          </span>
          <span class="ms-2"> Foot wear </span>
        </label>
        <label class="p-1 d-flex align-items-center">
          <span class="checkbox">
            <span class="check-box mb-0">
              <span class="ckbox"><input type="checkbox" /><span></span></span>
            </span>
          </span>
          <span class="ms-2"> Top wear </span>
        </label>
        <label class="p-1 d-flex align-items-center">
          <span class="checkbox">
            <span class="check-box mb-0">
              <span class="ckbox"><input type="checkbox" /><span></span></span>
            </span>
          </span>
          <span class="ms-2"> Bottom wear </span>
        </label>
        <label class="p-1 d-flex align-items-center">
          <span class="check-box mb-0">
            <span class="ckbox"
              ><input checked="" type="checkbox" /><span></span
            ></span>
          </span>
          <span class="ms-2"> Accessories </span>
        </label>
        <label class="p-1 d-flex align-items-center">
          <span class="checkbox">
            <span class="check-box mb-0">
              <span class="ckbox"><input type="checkbox" /><span></span></span>
            </span>
          </span>
          <span class="ms-2"> Furniture </span>
        </label>
        <label class="p-1 d-flex align-items-center">
          <span class="check-box mb-0">
            <span class="ckbox"
              ><input checked="" type="checkbox" /><span></span
            ></span>
          </span>
          <span class="ms-2"> Electronics </span>
        </label>
      </div>
      <h5 class="m-0 p-3 card-title bg-light border-bottom border-top">
        Price
      </h5>
      <div class="p-3 d-flex align-items-center">
        <div class="w-50">
          <input placeholder="From" class="form-control rounded-0" />
        </div>
        <span class="h4 m-0 font-weight-normal px-2">-</span>
        <div class="w-50">
          <input placeholder="Up to" class="form-control rounded-0" />
        </div>
      </div>
      <h5 class="m-0 p-3 card-title bg-light border-bottom border-top">
        Ratings
      </h5>
      <div class="py-2 px-3">
        <label class="p-1 mt-2 d-flex align-items-center">
          <span class="check-box mb-0">
            <span class="ckbox"
              ><input checked="" type="checkbox" /><span></span
            ></span>
          </span>
          <span class="ms-3 tx-16 my-auto">
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
          </span>
        </label>
        <label class="p-1 mt-2 d-flex align-items-center">
          <span class="check-box mb-0">
            <span class="ckbox"
              ><input checked="" type="checkbox" /><span></span
            ></span>
          </span>
          <span class="ms-3 tx-16 my-auto">
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
          </span>
        </label>
        <label class="p-1 mt-2 d-flex align-items-center">
          <span class="check-box mb-0">
            <span class="ckbox"
              ><input checked="" type="checkbox" /><span></span
            ></span>
          </span>
          <span class="ms-3 tx-16 my-auto">
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
          </span>
        </label>
        <label class="p-1 mt-2 d-flex align-items-center">
          <span class="checkbox mb-0">
            <span class="check-box">
              <span class="ckbox"><input type="checkbox" /><span></span></span>
            </span>
          </span>
          <span class="ms-3 tx-16 my-auto">
            <i class="ion ion-md-star text-warning"></i>
            <i class="ion ion-md-star text-warning"></i>
          </span>
        </label>
        <label class="p-1 mt-2 d-flex align-items-center">
          <span class="checkbox mb-0">
            <span class="check-box">
              <span class="ckbox"><input type="checkbox" /><span></span></span>
            </span>
          </span>
          <span class="ms-3 tx-16 my-auto">
            <i class="ion ion-md-star text-warning"></i>
          </span>
        </label>
      </div>
      <div class="px-3 py-2 border-top">
        <button class="btn btn-danger btn-block">FILTER</button>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="input-group p-2">
          <input type="text" class="form-control" placeholder="Search ..." />
          <span class="input-group-append">
            <button class="btn btn-primary" type="button">Search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row row-sm">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <span class="badge bg-info tx-10">NEW</span>
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/01.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase">planters</span>
              <span class="ms-auto"
                ><i class="fa fa-heart text-danger"></i
              ></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">Flower Pot</h3>
            <div class="d-flex">
              <h4
                class="w-50 font-weight-bold text-danger d-flex align-items-center"
              >
                $25
                <span
                  class="text-secondary font-weight-normal tx-13 ms-1 prev-price type-strikethrough"
                  >$47</span
                >
              </h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <span class="badge bg-secondary tx-10">BEST SELLER</span>
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/02.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase">Furniture</span>
              <span class="ms-auto"><i class="far fa-heart"></i></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">
              Fabric Armchair
            </h3>
            <div class="d-flex">
              <h4
                class="w-50 font-weight-bold text-danger d-flex align-items-center"
              >
                $56
                <span
                  class="text-secondary font-weight-normal tx-13 ms-1 prev-price type-strikethrough"
                  >$79</span
                >
              </h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/06.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase">Furniture</span>
              <span class="ms-auto"><i class="far fa-heart"></i></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">Chair</h3>
            <div class="d-flex">
              <h4 class="w-50 font-weight-bold text-danger">$39</h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <span class="badge bg-secondary tx-10">BEST SELLER</span>
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/10.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase">Cloting</span>
              <span class="ms-auto"><i class="far fa-heart"></i></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">
              Womens Casual dress
            </h3>
            <div class="d-flex">
              <h4 class="w-50 font-weight-bold text-danger">$25</h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/07.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase"
                >Kitchen & Dining</span
              >
              <span class="ms-auto"
                ><i class="fa fa-heart text-danger"></i
              ></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">Coffee Cup</h3>
            <div class="d-flex">
              <h4 class="w-50 font-weight-bold text-danger">$41</h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <span class="badge bg-info tx-10">NEW</span>
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/04.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase">Electronics</span>
              <span class="ms-auto"><i class="far fa-heart"></i></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">Mens Watch</h3>
            <div class="d-flex">
              <h4
                class="w-50 font-weight-bold text-danger d-flex align-items-center"
              >
                $69
                <span
                  class="text-secondary font-weight-normal tx-13 ms-1 prev-price type-strikethrough"
                  >$97</span
                >
              </h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <span class="badge bg-info tx-10">NEW</span>
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/08.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase">planters</span>
              <span class="ms-auto"
                ><i class="fa fa-heart text-danger"></i
              ></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">
              cactus plant
            </h3>
            <div class="d-flex">
              <h4
                class="w-50 font-weight-bold text-danger d-flex align-items-center"
              >
                $39
                <span
                  class="text-secondary font-weight-normal tx-13 ms-1 prev-price type-strikethrough"
                  >$59</span
                >
              </h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <span class="badge bg-secondary tx-10">BEST SELLER</span>
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/09.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase">Accessories</span>
              <span class="ms-auto"><i class="far fa-heart"></i></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">
              Stylish College bag
            </h3>
            <div class="d-flex">
              <h4
                class="w-50 font-weight-bold text-danger d-flex align-items-center"
              >
                $45
                <span
                  class="text-secondary font-weight-normal tx-13 ms-1 prev-price type-strikethrough"
                  >$674</span
                >
              </h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="product-card card">
          <div class="card-body h-100">
            <div class="new_arriavals">
              <a routerLink="/ecommerce/product-details"
                ><img
                  class="w-100 mt-2 mb-3 rounded-3"
                  src="./assets/img/ecommerce/11.jpg"
                  alt="product-image"
              /></a>
            </div>
            <div class="d-flex">
              <span class="text-muted small text-uppercase">Clothing</span>
              <span class="ms-auto"><i class="far fa-heart"></i></span>
            </div>
            <h3 class="h6 mb-1 font-weight-bold text-uppercase">
              Casual T-shirt
            </h3>
            <div class="d-flex">
              <h4 class="w-50 font-weight-bold text-danger">$32</h4>
              <span class="tx-15 ms-auto">
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star text-warning"></i>
                <i class="ion ion-md-star-half text-warning"></i>
                <i class="ion ion-md-star-outline text-warning"></i>
              </span>
            </div>
            <div class="text-center">
              <a
                class="add-to-cart btn btn-info my-1 me-2"
                routerLink="/ecommerce/cart"
                ><i class="fe fe-shopping-cart tx-16 d-inline-flex me-1"></i>Add
                to Cart</a
              >
              <a
                class="add-to-cart btn btn-primary my-1 me-2"
                routerLink="/ecommerce/product-details"
                ><i class="fe fe-eye tx-16 d-inline-flex me-1"></i>Quick-view</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->
