<app-page-header
  [title]="'media-Object'"
  [items]="['Elements']"
  [active_item]="'media-Object'"
></app-page-header>
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card" id="media-object">
      <div class="card-header">
        <h3 class="card-title mb-1">Basic Example</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication.
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="media d-block d-sm-flex">
              <img
                alt=""
                class="main-img-user avatar-lg mg-sm-r-20 mg-b-20 mg-sm-b-0"
                src="./assets/img/users/4.jpg"
              />
              <div class="media-body tx-14 tx-14">
                <h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
                Lorem Ipsum generators on the Internet as necessary aut odit aut
                fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                ipsum quia dolor sit amet, consectetur, adipisci velit
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="media-object2">
      <div class="card-header">
        <h3 class="card-title mb-1">Nesting</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication.
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="media d-block d-sm-flex">
              <img
                alt=""
                class="main-img-user avatar-lg mg-sm-r-20 mg-b-20 mg-sm-b-0"
                src="./assets/img/users/9.jpg"
              />
              <div class="media-body tx-14">
                <h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
                <p>
                  Lorem Ipsum generators on the Internet as necessary aut odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione
                  voluptatem sequi nesciunt. Neque porro quisquam est, qui
                  dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                </p>
                <div class="media d-block d-sm-flex mg-t-25">
                  <img
                    alt=""
                    class="main-img-user avatar-lg mg-sm-r-20 mg-b-20 mg-sm-b-0"
                    src="./assets/img/users/8.jpg"
                  />
                  <div class="media-body tx-14">
                    <h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
                    Lorem Ipsum generators on the Internet as necessary aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="media-object3">
      <div class="card-header">
        <h3 class="card-title mb-1">Alignment</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication.
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="media d-block d-sm-flex">
              <img
                alt=""
                class="main-img-user avatar-lg mg-sm-r-20 mg-b-20 mg-sm-b-0 align-self-center"
                src="./assets/img/users/14.jpg"
              />
              <div class="media-body tx-14">
                <h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
                Lorem Ipsum generators on the Internet as necessary aut odit aut
                fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                ipsum quia dolor sit amet, consectetur, adipisci velit Lorem
                Ipsum generators on the Internet as necessary aut odit aut
                fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                ipsum quia dolor sit amet, consectetur, adipisci velit
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="media-object4">
      <div class="card-header">
        <h3 class="card-title mb-1">Order</h3>
        <p class="mb-0 text-muted card-sub-title">
          It is Very Easy to Customize and it uses in your website apllication.
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="media d-block d-sm-flex">
              <div class="media-body tx-14">
                <h5 class="mb-0 tx-inverse tx-15">Media heading</h5>
                Lorem Ipsum generators on the Internet as necessary aut odit aut
                fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                ipsum quia dolor sit amet, consectetur, adipisci velit
              </div>
              <img
                alt=""
                class="main-img-user avatar-lg mg-sm-l-20 mg-t-20 mg-sm-t-0"
                src="./assets/img/users/5.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="media-object5">
      <div class="card-header">
        <h3 class="card-title mb-1">Media List</h3>
        <p class="mb-0 text-muted card-sub-title mb-0">
          It is Very Easy to Customize and it uses in your website apllication.
        </p>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="media media-list d-block d-sm-flex">
              <ul class="list-unstyled mb-0">
                <li class="media d-block d-sm-flex">
                  <img
                    alt=""
                    class="main-img-user avatar-lg mg-sm-r-20 mg-b-20 mg-sm-b-0"
                    src="./assets/img/users/2.jpg"
                  />
                  <div class="media-body tx-14">
                    <h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
                    Lorem Ipsum generators on the Internet as necessary aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit
                  </div>
                </li>
                <li class="media d-block d-sm-flex mg-t-25">
                  <img
                    alt=""
                    class="main-img-user avatar-lg mg-sm-r-20 mg-b-20 mg-sm-b-0"
                    src="./assets/img/users/12.jpg"
                  />
                  <div class="media-body tx-14">
                    <h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
                    Lorem Ipsum generators on the Internet as necessary aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit
                  </div>
                </li>
                <li class="media d-block d-sm-flex mg-t-25">
                  <img
                    alt=""
                    class="main-img-user avatar-lg mg-sm-r-20 mg-b-20 mg-sm-b-0"
                    src="./assets/img/users/7.jpg"
                  />
                  <div class="media-body tx-14">
                    <h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
                    Lorem Ipsum generators on the Internet as necessary aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /row -->
