<!-- page -->
<div class="square-box">
			<div></div>	<div></div>	<div></div>	<div></div>	<div></div>	<div></div>	<div></div>
				<div></div>	<div></div>	<div></div>	<div></div>
		</div>
<div class="page login-img">
  <!-- main-signin-wrapper -->
  <div class="my-auto page main-signin-wrapper">
    <div class="text-center mb-2">
      <div class="main-signin-wrapper">
        <div class="main-card-signin d-md-flex bg-white">
          <div class="p-4">
            <div class="main-signin-header">
              <div
                class="avatar avatar-xxl avatar-xxl mx-auto text-center mb-2"
              >
                <img
                  alt=""
                  class="avatar avatar-xxl mt-2 mb-2"
                  src="./assets/img/users/6.jpg"
                />
              </div>
              <div class="mx-auto text-center mt-4 mg-b-20">
                <h5 class="mg-b-10 tx-16">Petey Cruiser</h5>
                <p class="tx-13 text-muted">
                  Enter Your Password to View your Screen
                </p>
              </div>
              <form action="/pages/profile">
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="Enter your password"
                    type="password"
                    value=""
                  />
                </div>
                <button class="btn btn-primary btn-block">Unlock</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main-signin-wrapper -->
</div>
<!-- page closed -->
