<app-page-header
  [title]="'User List'"
  [items]="['Advanced-Ui']"
  [active_item]="'User List'"
></app-page-header>

<!-- row -->
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card bg-primary border-0">
      <div class="userlist">
        <div class="card-body text-center">
          <div class="userprofile">
            <div class="userpic">
              <img
                src="./assets/img/users/8.jpg"
                alt=""
                class="userpicimg rounded-circle"
              />
            </div>
            <h3 class="username">Pearle Leverett</h3>
          </div>
          <p class="mb-0">
            <span class="text-white op-8">Email : </span
            ><a href="" class="text-white op-8">info@pearle.in</a>
          </p>
        </div>
        <div class="panel-heading rounded-0 text-center">
          <h3 class="text-primary mt-3 mb-2">Team Leader</h3>
          <p class="text-dark">UX, UI Designer</p>
        </div>
      </div>
      <div class="panel-footer be-be-7 be-bs-7">
        <div class="text-center">
          <div class="flex-c-m">
            <div class="">
              <a
                href="javascript:void(0)"
                class="bx bxl-facebook tx-primary tx-18 border rounded-5 p-2 me-2"
                aria-hidden="true"
              ></a>
              <a
                href="javascript:void(0)"
                class="bx bxl-twitter text-info tx-18 border rounded-5 p-2 me-2"
                aria-hidden="true"
              ></a>
              <a
                href="javascript:void(0)"
                class="bx bxs-envelope text-danger tx-18 border rounded-5 p-2 me-2"
                aria-hidden="true"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card custom-card">
      <div class="card-body text-center">
        <div class="user-lock text-center">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/3.jpg"
          />
        </div>
        <h5 class="mb-0 mt-3 card-title">Reynante Labares</h5>
        <p class="mb-2 tx-13 tx-inverse">Web Designer</p>
        <p class="text-muted text-center tx-13 mt-1">
          Lorem Ipsum is not simply random text to popular belief Contrary.
        </p>
        <div class="mt-2 btn-list">
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-mail me-2"></i><span>reynante23@gmail.com</span></a
          >
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-phone me-2"></i><span>0-235-657-24587</span></a
          >
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-map-pin me-2"></i><span>Wales, UK</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card custom-card">
      <div class="card-body text-center">
        <div class="user-lock text-center">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/4.jpg"
          />
        </div>
        <h5 class="mb-0 mt-3 card-title">Owen Bongcaras</h5>
        <p class="mb-2 tx-13 tx-inverse">App Developer</p>
        <p class="text-muted text-center tx-13 mt-1">
          Lorem Ipsum is not simply random text to popular belief Contrary.
        </p>
        <div class="mt-2 btn-list">
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-mail me-2"></i><span>owenbong@gmail.com</span></a
          >
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-phone me-2"></i><span>0-235-657-24587</span></a
          >
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-map-pin me-2"></i><span>0-235-657-24587</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card custom-card">
      <div class="card-body text-center">
        <div class="user-lock text-center">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/8.jpg"
          />
        </div>
        <h5 class="mb-0 mt-3 card-title">Stephen Metcalfe</h5>
        <p class="mb-2 tx-13 tx-inverse">Administrator</p>
        <p class="text-muted text-center tx-13 mt-1">
          Lorem Ipsum is not simply random text to popular belief Contrary.
        </p>
        <div class="mt-2 btn-list">
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-mail me-2"></i><span>stephne@gmail.com</span></a
          >
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-phone me-2"></i><span>0-235-657-24587</span></a
          >
          <a
            class="btn btn-outline-light btn-block d-flex justify-content-center align-items-center"
            routerLink="/advanced-ui/userlist"
            ><i class="fe fe-map-pin me-2"></i><span>London, UK</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card custom-card">
      <div class="card-body text-center">
        <div class="user-lock text-center">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/5.jpg"
          />
        </div>
        <h5 class="mb-0 mt-3 card-title">Mariane Galeon</h5>
        <p class="mb-2 tx-13 tx-inverse">Administrator</p>
        <p class="mb-1 d-flex justify-content-center align-items-center">
          <i class="fe fe-mail me-2"></i>mariane28@gmail.com
        </p>
        <div
          class="d-lg-flex mt-2 align-items-center justify-content-center text-center"
        >
          <p class="mb-2 me-3 d-inline-flex">
            <i class="fe fe-map-pin me-2"></i>Scotland, UK
          </p>
          <p class="mb-2 d-inline-flex">
            <i class="fe fe-phone me-2"></i>0-235-657-24587
          </p>
        </div>
        <p class="text-muted text-center tx-13 mt-1">
          Lorem Ipsum is not simply random text to popular belief Contrary.
        </p>
        <div class="justify-content-center text-center mt-3 d-flex">
          <a
            href="javascript:void(0);"
            class="btn ripple btn-primary btn-icon me-3"
          >
            <i class="fe fe-message-square"></i>
          </a>
          <a
            href="javascript:void(0);"
            class="btn ripple btn-secondary btn-icon me-3"
          >
            <i class="fe fe-edit-2"></i>
          </a>
          <a
            href="javascript:void(0);"
            class="btn ripple btn-info btn-icon me-3"
          >
            <i class="fe fe-eye"></i>
          </a>
          <a href="javascript:void(0);" class="btn ripple btn-danger btn-icon">
            <i class="fe fe-trash-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card custom-card">
      <div class="card-body text-center">
        <div class="user-lock text-center">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/6.jpg"
          />
        </div>
        <h5 class="mb-0 mt-3 card-title">Joyce Chua</h5>
        <p class="mb-2 tx-13 tx-inverse">App Designer</p>
        <p class="mb-1 d-flex justify-content-center align-items-center">
          <i class="fe fe-mail me-2"></i>joyce78@gmail.com
        </p>
        <div
          class="d-lg-flex mt-2 align-items-center justify-content-center text-center"
        >
          <p class="mb-2 me-3 d-inline-flex">
            <i class="fe fe-map-pin me-2"></i>Washington, USA
          </p>
          <p class="mb-2 d-inline-flex">
            <i class="fe fe-phone me-2"></i>0-235-657-24587
          </p>
        </div>
        <p class="text-muted text-center tx-13 mt-1">
          Lorem Ipsum is not simply random text to popular belief Contrary.
        </p>
        <div class="justify-content-center text-center mt-3 d-flex">
          <a
            href="javascript:void(0);"
            class="btn ripple btn-primary btn-icon me-3"
          >
            <i class="fe fe-message-square"></i>
          </a>
          <a
            href="javascript:void(0);"
            class="btn ripple btn-secondary btn-icon me-3"
          >
            <i class="fe fe-edit-2"></i>
          </a>
          <a
            href="javascript:void(0);"
            class="btn ripple btn-info btn-icon me-3"
          >
            <i class="fe fe-eye"></i>
          </a>
          <a href="javascript:void(0);" class="btn ripple btn-danger btn-icon">
            <i class="fe fe-trash-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card custom-card">
      <div class="card-body text-center">
        <div class="user-lock text-center">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/7.jpg"
          />
        </div>
        <h5 class="mb-0 mt-3 card-title">Petey Cruiser</h5>
        <p class="mb-2 tx-13 tx-inverse">Web Developer</p>
        <p class="mb-1 d-flex justify-content-center align-items-center">
          <i class="fe fe-mail me-2"></i>petey78@gmail.com
        </p>
        <div
          class="d-lg-flex mt-2 align-items-center justify-content-center text-center"
        >
          <p class="mb-2 me-3 d-inline-flex">
            <i class="fe fe-map-pin me-2"></i>England, UK
          </p>
          <p class="mb-2 d-inline-flex">
            <i class="fe fe-phone me-2"></i>0-235-657-24587
          </p>
        </div>
        <p class="text-muted text-center tx-13 mt-1">
          Lorem Ipsum is not simply random text to popular belief Contrary.
        </p>
        <div class="justify-content-center text-center mt-3 d-flex">
          <a
            href="javascript:void(0);"
            class="btn ripple btn-primary btn-icon me-3"
          >
            <i class="fe fe-message-square"></i>
          </a>
          <a
            href="javascript:void(0);"
            class="btn ripple btn-secondary btn-icon me-3"
          >
            <i class="fe fe-edit-2"></i>
          </a>
          <a
            href="javascript:void(0);"
            class="btn ripple btn-info btn-icon me-3"
          >
            <i class="fe fe-eye"></i>
          </a>
          <a href="javascript:void(0);" class="btn ripple btn-danger btn-icon">
            <i class="fe fe-trash-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-3">
    <div class="card border p-0 shadow-none">
      <div class="d-flex align-items-center p-3">
        <div class="main-img-user avatar-xl avatar-status">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/4.jpg"
          />
        </div>
        <div class="wrapper ms-3">
          <p class="mb-0 mt-1 font-weight-semibold">Areal Rosenblum</p>
          <small class="text-muted">Project team</small>
        </div>
        <div ngbDropdown class="float-end ms-auto" *ngFor="let item of items">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="option-dots"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fe fe-more-vertical fs-18"></i
          ></a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-start">
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-edit me-2"></i> {{ item.Item1 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-trash me-2"></i> {{ item.Item2 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-edit me-2"></i>{{ item.Item3 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-trash me-2"></i> {{ item.Item4 }}</a
            >
          </div>
        </div>
      </div>
      <div class="card-body border-top">
        <p class="mb-5">
          Duis aute irure dolor in reprehrighterit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur
        </p>
        <div class="mb-0 user-details">
          <div class="mb-4">
            <span class=""
              ><i
                class="fe fe-mail p-2 bg-warning-transparent text-warning border-warning brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">collinbridg@gmail.com</span>
          </div>
          <div class="mb-4">
            <span class=""
              ><i
                class="fe fe-map-pin p-2 bg-secondary-transparent text-secondary border-secondary brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">England, UK</span>
          </div>
          <div>
            <span class=""
              ><i
                class="fe fe-phone-call p-2 bg-success-transparent text-success border-success brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">+345 657 567</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-3">
    <div class="card border p-0 shadow-none">
      <div class="d-flex align-items-center p-3">
        <div class="main-img-user avatar-xl avatar-status">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/8.jpg"
          />
        </div>
        <div class="wrapper ms-3">
          <p class="mb-0 mt-1 font-weight-semibold">Denis Rosenblum</p>
          <small class="text-muted">Project Manager</small>
        </div>
        <div ngbDropdown class="float-end ms-auto" *ngFor="let item of items">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="option-dots"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fe fe-more-vertical fs-18"></i
          ></a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-start">
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-edit me-2"></i> {{ item.Item1 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-trash me-2"></i> {{ item.Item2 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-edit me-2"></i>{{ item.Item3 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-trash me-2"></i> {{ item.Item4 }}</a
            >
          </div>
        </div>
      </div>
      <div class="card-body border-top">
        <p class="mb-5">
          Duis aute irure dolor in reprehrighterit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur
        </p>
        <div class="mb-0 user-details">
          <div class="mb-4">
            <span class=""
              ><i
                class="fe fe-mail p-2 bg-warning-transparent text-warning border-warning brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">collinbridg@gmail.com</span>
          </div>
          <div class="mb-4">
            <span class=""
              ><i
                class="fe fe-map-pin p-2 bg-secondary-transparent text-secondary border-secondary brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">England, UK</span>
          </div>
          <div>
            <span class=""
              ><i
                class="fe fe-phone-call p-2 bg-success-transparent text-success border-success brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">+345 657 567</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-3">
    <div class="card border p-0 shadow-none">
      <div class="d-flex align-items-center p-3">
        <div class="main-img-user avatar-xl avatar-status">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/10.jpg"
          />
        </div>
        <div class="wrapper ms-3">
          <p class="mb-0 mt-1 font-weight-semibold">Floyed Milles</p>
          <small class="text-muted">Design team</small>
        </div>
        <div ngbDropdown class="float-end ms-auto" *ngFor="let item of items">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="option-dots"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fe fe-more-vertical fs-18"></i
          ></a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-start">
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-edit me-2"></i> {{ item.Item1 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-trash me-2"></i> {{ item.Item2 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-edit me-2"></i>{{ item.Item3 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-trash me-2"></i> {{ item.Item4 }}</a
            >
          </div>
        </div>
      </div>
      <div class="card-body border-top">
        <p class="mb-5">
          Duis aute irure dolor in reprehrighterit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur
        </p>
        <div class="mb-0 user-details">
          <div class="mb-4">
            <span class=""
              ><i
                class="fe fe-mail p-2 bg-warning-transparent text-warning border-warning brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">collinbridg@gmail.com</span>
          </div>
          <div class="mb-4">
            <span class=""
              ><i
                class="fe fe-map-pin p-2 bg-secondary-transparent text-secondary border-secondary brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">England, UK</span>
          </div>
          <div>
            <span class=""
              ><i
                class="fe fe-phone-call p-2 bg-success-transparent text-success border-success brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">+345 657 567</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-3">
    <div class="card border p-0 shadow-none">
      <div class="d-flex align-items-center p-3">
        <div class="main-img-user avatar-xl avatar-status">
          <img
            alt="avatar"
            class="rounded-circle"
            src="./assets/img/users/12.jpg"
          />
        </div>
        <div class="wrapper ms-3">
          <p class="mb-0 mt-1 font-weight-semibold">MARIANE GALEON</p>
          <small class="text-muted">Administrator</small>
        </div>
        <div ngbDropdown class="float-end ms-auto" *ngFor="let item of items">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="option-dots"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fe fe-more-vertical fs-18"></i
          ></a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-start">
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-edit me-2"></i> {{ item.Item1 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-trash me-2"></i> {{ item.Item2 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-edit me-2"></i>{{ item.Item3 }}</a
            >
            <a ngbDropdownItem class="dropdown-item d-flex mt-1"
              ><i class="fe fe-trash me-2"></i> {{ item.Item4 }}</a
            >
          </div>
        </div>
      </div>
      <div class="card-body border-top">
        <p class="mb-5">
          Duis aute irure dolor in reprehrighterit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur
        </p>
        <div class="mb-0 user-details">
          <div class="mb-4">
            <span class=""
              ><i
                class="fe fe-mail p-2 bg-warning-transparent text-warning border-warning brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">collinbridg@gmail.com</span>
          </div>
          <div class="mb-4">
            <span class=""
              ><i
                class="fe fe-map-pin p-2 bg-secondary-transparent text-secondary border-secondary brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">England, UK</span>
          </div>
          <div>
            <span class=""
              ><i
                class="fe fe-phone-call p-2 bg-success-transparent text-success border-success brround me-3 d-inline-flex"
              ></i
            ></span>
            <span class="h6">+345 657 567</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->
