<app-page-header
  [title]="'Avatar'"
  [items]="['Elements']"
  [active_item]="'Avatar'"
></app-page-header>
<!-- row -->
<div class="row">
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Rounded Avatar Sizes</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="demo-avatar-group">
              <div class="main-img-user avatar-xs">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/2.jpg"
                />
              </div>
              <div class="main-img-user avatar-sm">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/3.jpg"
                />
              </div>
              <div class="main-img-user">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/4.jpg"
                />
              </div>
              <div class="main-img-user avatar-md">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/5.jpg"
                />
              </div>
              <div class="main-img-user avatar-lg">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/6.jpg"
                />
              </div>
              <div class="main-img-user avatar-xl d-none d-sm-block">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/7.jpg"
                />
              </div>
              <div class="main-img-user avatar-xxl d-none d-sm-block">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/8.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Rounded Avatar Sizes with status</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="demo-avatar-group">
              <div class="main-img-user avatar-xs avatar-status">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/2.jpg"
                />
              </div>
              <div class="main-img-user avatar-sm avatar-status">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/3.jpg"
                />
              </div>
              <div class="main-img-user avatar-status">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/4.jpg"
                />
              </div>
              <div class="main-img-user avatar-md avatar-status">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/5.jpg"
                />
              </div>
              <div class="main-img-user avatar-lg avatar-status">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/6.jpg"
                />
              </div>
              <div
                class="main-img-user avatar-xl d-none d-sm-block avatar-status"
              >
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/7.jpg"
                />
              </div>
              <div
                class="main-img-user avatar-xxl d-none d-sm-block avatar-status"
              >
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/8.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Radius Avatar Sizes</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="demo-avatar-group">
              <div class="main-img-user avatar-xs">
                <img alt="avatar" src="./assets/img/users/2.jpg" />
              </div>
              <div class="main-img-user avatar-sm">
                <img alt="avatar" src="./assets/img/users/3.jpg" />
              </div>
              <div class="main-img-user">
                <img alt="avatar" src="./assets/img/users/4.jpg" />
              </div>
              <div class="main-img-user avatar-md">
                <img alt="avatar" src="./assets/img/users/5.jpg" />
              </div>
              <div class="main-img-user avatar-lg">
                <img alt="avatar" src="./assets/img/users/6.jpg" />
              </div>
              <div class="main-img-user avatar-xl d-none d-sm-block">
                <img alt="avatar" src="./assets/img/users/7.jpg" />
              </div>
              <div class="main-img-user avatar-xxl d-none d-sm-block">
                <img alt="avatar" src="./assets/img/users/8.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Square Avatar Sizes</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="demo-avatar-group">
              <div class="main-img-user avatar-xs">
                <img
                  alt="avatar"
                  class="square-avatar"
                  src="./assets/img/users/2.jpg"
                />
              </div>
              <div class="main-img-user avatar-sm">
                <img
                  alt="avatar"
                  class="square-avatar"
                  src="./assets/img/users/3.jpg"
                />
              </div>
              <div class="main-img-user">
                <img
                  alt="avatar"
                  class="square-avatar"
                  src="./assets/img/users/4.jpg"
                />
              </div>
              <div class="main-img-user avatar-md">
                <img
                  alt="avatar"
                  class="square-avatar"
                  src="./assets/img/users/5.jpg"
                />
              </div>
              <div class="main-img-user avatar-lg">
                <img
                  alt="avatar"
                  class="square-avatar"
                  src="./assets/img/users/6.jpg"
                />
              </div>
              <div class="main-img-user avatar-xl d-none d-sm-block">
                <img
                  alt="avatar"
                  class="square-avatar"
                  src="./assets/img/users/7.jpg"
                />
              </div>
              <div class="main-img-user avatar-xxl d-none d-sm-block">
                <img
                  alt="avatar"
                  class="square-avatar"
                  src="./assets/img/users/8.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Rounded Avatar with Badges</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="avatar-list">
              <div class="main-img-user avatar avatar-md">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/2.jpg"
                />
                <span class="badge rounded-pill avatar-badges bg-primary fs-10"
                  >3</span
                >
              </div>
              <div class="main-img-user avatar avatar-md">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/3.jpg"
                />
                <span class="badge rounded-pill avatar-badges bg-danger fs-10"
                  >5</span
                >
              </div>
              <div class="main-img-user avatar avatar-md">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/4.jpg"
                />
                <span class="badge rounded-pill avatar-badges bg-info fs-10"
                  >1</span
                >
              </div>
              <div class="main-img-user avatar avatar-md">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/5.jpg"
                />
                <span class="badge rounded-pill avatar-badges bg-warning fs-10"
                  >6</span
                >
              </div>
              <div class="main-img-user avatar avatar-md">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/6.jpg"
                />
                <span
                  class="badge rounded-pill avatar-badges bg-secondary fs-10"
                  >3</span
                >
              </div>
              <div class="main-img-user avatar avatar-md">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/7.jpg"
                />
                <span class="badge rounded-pill avatar-badges bg-primary fs-10"
                  >2</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Radius Avatar with Badges</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="avatar-list">
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/2.jpg" />
                <span class="badge avatar-badges bg-primary fs-10">3</span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/3.jpg" />
                <span class="badge avatar-badges bg-danger fs-10">5</span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/4.jpg" />
                <span class="badge avatar-badges bg-info fs-10">1</span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/5.jpg" />
                <span class="badge avatar-badges bg-warning fs-10">6</span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/6.jpg" />
                <span class="badge avatar-badges bg-secondary fs-10">3</span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/7.jpg" />
                <span class="badge avatar-badges bg-primary fs-10">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Avatar with Icons</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="avatar-list">
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/2.jpg" />
                <span class="badge rounded-pill avatar-icons bg-primary"
                  ><i class="fe fe-edit fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/3.jpg" />
                <span class="badge rounded-pill avatar-icons bg-secondary"
                  ><i class="fe fe-arrow-down fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/4.jpg" />
                <span class="badge rounded-pill avatar-icons bg-warning"
                  ><i class="fe fe-arrow-down fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/5.jpg" />
                <span class="badge rounded-pill avatar-icons bg-success"
                  ><i class="fe fe-camera fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/6.jpg" />
                <span class="badge rounded-pill avatar-icons bg-info"
                  ><i class="fe fe-mail fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img alt="avatar" class="" src="./assets/img/users/7.jpg" />
                <span class="badge rounded-pill avatar-icons bg-primary"
                  ><i class="fe fe-bell fs-12"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Avatar with Icons</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="avatar-list">
              <div class="main-img-user avatar avatar-md my-1">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/2.jpg"
                />
                <span class="badge rounded-pill avatar-icons bg-primary"
                  ><i class="fe fe-edit fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/3.jpg"
                />
                <span class="badge rounded-pill avatar-icons bg-secondary"
                  ><i class="fe fe-arrow-down fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/4.jpg"
                />
                <span class="badge rounded-pill avatar-icons bg-warning"
                  ><i class="fe fe-arrow-down fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/5.jpg"
                />
                <span class="badge rounded-pill avatar-icons bg-success"
                  ><i class="fe fe-camera fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/6.jpg"
                />
                <span class="badge rounded-pill avatar-icons bg-info"
                  ><i class="fe fe-mail fs-12"></i
                ></span>
              </div>
              <div class="main-img-user avatar avatar-md my-1">
                <img
                  alt="avatar"
                  class="rounded-circle"
                  src="./assets/img/users/7.jpg"
                />
                <span class="badge rounded-pill avatar-icons bg-primary"
                  ><i class="fe fe-bell fs-12"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Initials Avatars</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="demo-avatar-group avatar-list">
              <div class="avatar avatar-xs bg-primary rounded-circle">A</div>
              <div class="avatar avatar-sm bg-secondary rounded-circle">U</div>
              <div class="avatar bg-info rounded-circle">C</div>
              <div class="avatar avatar-md bg-success rounded-circle">X</div>
              <div class="avatar avatar-lg bg-warning rounded-circle">E</div>
              <div
                class="avatar avatar-xl d-none d-sm-flex bg-danger rounded-circle"
              >
                M
              </div>
              <div
                class="avatar avatar-xxl d-none d-sm-flex bg-pink rounded-circle"
              >
                NB
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h3 class="card-title mb-1">Initial Avatars</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="demo-avatar-group avatar-list">
              <div class="avatar avatar-square avatar-xs bg-primary">A</div>
              <div class="avatar avatar-square avatar-sm bg-secondary">U</div>
              <div class="avatar avatar-square bg-info">C</div>
              <div class="avatar avatar-square avatar-md bg-success">X</div>
              <div class="avatar avatar-square avatar-lg bg-warning">E</div>
              <div
                class="avatar avatar-square avatar-xl d-none d-sm-flex bg-danger"
              >
                M
              </div>
              <div
                class="avatar avatar-square avatar-xxl d-none d-sm-flex bg-pink"
              >
                NB
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /row -->
