<app-page-header
  [title]="'Images'"
  [items]="['Elements']"
  [active_item]="'Images'"
></app-page-header>
<!-- row -->
<div class="card mg-b-20" id="image1">
  <div class="card-header">
    <h3 class="card-title">Responsive Image</h3>
    <p class="mb-0 tx-13 text-muted">
      It is Very Easy to Customize and it uses in your website apllication.
    </p>
  </div>
  <div class="card-body">
    <div>
      <img
        alt="Responsive image"
        class="img-fluid"
        src="./assets/img/photos/1.jpg"
      />
    </div>
  </div>
</div>
<!-- /row -->

<!-- row -->
<div class="card mg-b-20" id="image2">
  <div class="card-header">
    <h3 class="card-title">Image Thumbnail</h3>
    <p class="mb-0 tx-13 text-muted">
      It is Very Easy to Customize and it uses in your website apllication.
    </p>
  </div>
  <div class="card-body">
    <img
      alt="Responsive image"
      class="img-thumbnail wd-100p wd-sm-200"
      src="./assets/img/photos/1.jpg"
    />
  </div>
</div>
<!-- /row -->

<!-- row -->
<div class="card mg-b-20" id="image3">
  <div class="card-header">
    <h3 class="card-title">Aligning Images</h3>
    <p class="mb-0 tx-13 text-muted">
      It is Very Easy to Customize and it uses in your website apllication.
    </p>
  </div>
  <div class="card-body">
    <div class="bd pd-20 clearfix">
      <img
        alt=""
        class="rounded float-sm-left wd-100p wd-sm-200"
        src="./assets/img/photos/1.jpg"
      />
      <img
        alt=""
        class="rounded float-sm-right wd-100p wd-sm-200 mg-t-10 mg-sm-t-0"
        src="./assets/img/photos/1.jpg"
      />
    </div>
  </div>
</div>
<!-- /row -->

<!-- row -->
<div class="card overflow-hidden" id="image4">
  <div class="card-header">
    <h3 class="card-title">Background Image</h3>
    <p class="mb-0 tx-13 text-muted">
      It is Very Easy to Customize and it uses in your website apllication.
    </p>
  </div>
  <div class="card-body">
    <figure class="pos-relative mg-b-0 wd-sm-80p wd-md-50p">
      <img
        alt="Responsive image"
        class="img-fit-cover"
        src="./assets/img/photos/1.jpg"
      />
      <figcaption class="pos-absolute a-0 pd-25 bg-black-5 tx-white-8">
        <h6 class="tx-14 tx-sm-16 tx-white tx-semibold mg-b-15 mg-sm-b-20">
          What Does Royalty-Free Mean?
        </h6>
        <p class="mg-b-0">
          Royalty free means you just need to pay for rights to use the item
          once per end product. You don't need to pay additional or ongoing fees
          for each person who sees or uses it.
        </p>
      </figcaption>
    </figure>
  </div>
</div>
<!-- /row -->
