<app-page-header
  [title]="'Dashboard'"
  [items]="['Home']"
  [active_item]="'Sales Dashboard'"
></app-page-header>
<!-- main-content-body -->
<div class="main-content-body">
  <div class="row row-cards">
    <div class="col-xl-6 col-xxl-3 col-sm-12 col-lg-6 col-md-6">
      <marcohern-counter title="Followers" [amount]="10257" [delta]="65" background="bg-primary"></marcohern-counter>
    </div>
    <div class="col-xl-6 col-xxl-3 col-sm-12 col-lg-6 col-md-6">
      <marcohern-counter title="Likes" [amount]="17257" [delta]="65" background="bg-secondary"></marcohern-counter>
    </div>
    <div class="col-xl-6 col-xxl-3 col-sm-12 col-lg-6 col-md-6">
      <marcohern-counter title="Comments" [amount]="157" [delta]="-65" background="bg-info"></marcohern-counter>
    </div>
    <div class="col-xl-6 col-xxl-3 col-sm-12 col-lg-6 col-md-6">
      <marcohern-counter title="Posts" [amount]="1403" [delta]="-65" background="bg-success"></marcohern-counter>
    </div>
  </div>
  <!-- row -->
  <div class="row row-sm">
    <div class="col-xl-8 col-md-12 col-lg-12">
      <marcohern-curve-chart title="Sales Report"
        description="The Project Budget is a tool used by project managers to estimate the total cost of a project."></marcohern-curve-chart>
    </div>
    <div class="col-xl-4 col-md-6 col-lg-6">
      <marcohern-tasks title="Tasks"></marcohern-tasks>
    </div>
    <div class="col-xl-4 col-md-6 col-lg-6">
      <marcohern-sales-summary title="Sales Summary"></marcohern-sales-summary>
    </div>
    <div class="col-xl-4 col-md-6 col-lg-6">
      <marcohern-tasks-assigned title="Task Assigned"></marcohern-tasks-assigned>
    </div>
    <div class="col-xl-4 col-md-6 col-lg-6">
      <marcohern-transactions title="Recent Transactions"></marcohern-transactions>
    </div>
  </div>
  <!-- /row -->

  <div class="row row-cards">
    <div class="col-md-12 col-lg-12 col-xl-3">
      <marcohern-weather title="Today" description="Partly Cloudy" [temp]="28"></marcohern-weather>
    </div>
    <div class="col-lg-12 col-md-12 col-xl-9">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Invoice Table</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-striped card-table mt-0 mb-0 table-nowrap border"
              id="datatable"
            >
              <thead>
                <tr>
                  <th>Invoice ID</th>
                  <th scope="row">Customer Name</th>
                  <th>Customer ID</th>
                  <th>Date</th>
                  <th>Order Value</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a class="font-weight-normal1" href="javascript:void(0)"
                      >#002584611</a
                    >
                  </td>
                  <td>Joan Powell</td>
                  <td>JoanPowell@gmail.com</td>
                  <td>08/3/2021</td>
                  <td>$450,870</td>
                  <td>
                    <span class="badge bg-warning border-warning fs-11"
                      >Pending</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="font-weight-normal1" href="javascript:void(0)"
                      >#004641215</a
                    >
                  </td>
                  <td>Gavin Gibson</td>
                  <td>JoanPowell@gmail.com</td>
                  <td>08/3/2021</td>
                  <td>$230,540</td>
                  <td>
                    <span class="badge bg-danger border-danger fs-11"
                      >Failed</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="font-weight-normal1" href="javascript:void(0)"
                      >#004651234</a
                    >
                  </td>
                  <td>Junior Sam</td>
                  <td>JoanPowell@gmail.com</td>
                  <td>08/3/2021</td>
                  <td>$43,198</td>
                  <td>
                    <span class="badge bg-success border-success fs-11"
                      >Paid</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="font-weight-normal1" href="javascript:void(0)"
                      >#00434567</a
                    >
                  </td>
                  <td>Gabriel</td>
                  <td>JoanPowell@gmail.com</td>
                  <td>08/3/2021</td>
                  <td>$230,540</td>
                  <td>
                    <span class="badge bg-warning border-warning fs-11"
                      >Pending</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="font-weight-normal1" href="javascript:void(0)"
                      >#004345623</a
                    >
                  </td>
                  <td>Zach efron</td>
                  <td>JoanPowell@gmail.com</td>
                  <td>08/3/2021</td>
                  <td>$55,300</td>
                  <td>
                    <span class="badge bg-success border-success fs-11"
                      >Paid</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="font-weight-normal1" href="javascript:void(0)"
                      >#004345234</a
                    >
                  </td>
                  <td>Mona matty</td>
                  <td>JoanPowell@gmail.com</td>
                  <td>08/3/2021</td>
                  <td>$234,100</td>
                  <td>
                    <span class="badge bg-success border-success fs-11"
                      >Paid</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="font-weight-normal1" href="javascript:void(0)"
                      >#004567455</a
                    >
                  </td>
                  <td>Samantha May</td>
                  <td>JoanPowell@gmail.com</td>
                  <td>08/3/2021</td>
                  <td>$43,198</td>
                  <td>
                    <span class="badge bg-warning border-warning fs-11"
                      >Pending</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /row -->
</div>
<!-- /row -->
