<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{title}}</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped card-table mt-0 mb-0 table-nowrap border" id="datatable">
        <thead>
          <tr>
            <th>Invoice ID</th>
            <th scope="row">Customer Name</th>
            <th>Customer ID</th>
            <th>Date</th>
            <th>Order Value</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices">
            <td>
              <a class="font-weight-normal1" [routerLink]="['/invoice',invoice.uid]" href="javascript:void(0)">#{{invoice.uid}}</a>
            </td>
            <td>{{invoice.who}}</td>
            <td>{{invoice.email}}</td>
            <td>{{invoice.date|date:'d/M/yyyy'}}</td>
            <td>${{invoice.amount|number}}</td>
            <td>
              <span *ngIf="invoice.status=='pending'" class="badge bg-warning border-warning fs-11">Pending</span>
              <span *ngIf="invoice.status=='failed'" class="badge bg-danger border-danger fs-11">Failed</span>
              <span *ngIf="invoice.status=='paid'" class="badge bg-success border-success fs-11">Paid</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>